[2019-01-31 08:42] Gr3q commented on #2260
The logging is still insufficient, I'll add more debug logs for the new version tonight

[2019-01-31 09:05] Gr3q commented on #2260
@cranes-bill Could you try something for me? Could you open ~/.local/share/cinnamon/applets/weather@mockturtl/settings-schema.json and Change this part:

"credits": {
    "type": "header",
    "description": "powered by: OpenWeatherMap, DarkSky, ipapi."
}

To this
"credits": {
    "type": "header",
    "description": "powered by - OpenWeatherMap, DarkSky, ipapi."
}

[2019-01-31 09:17] Odyseus commented on #2260
Hello, everybody.

@Gr3q and @cranes-bill: The error reported in https://github.com/linuxmint/cinnamon-spices-applets/issues/2260#issuecomment-459240550 is caused by the `async` keyword. Since version 2.1 the applet isn't compatible with any Cinnamon version older than 3.8.x. IIRC, **require**, **modules** and nonsense of the like were also introduced in 3.8.x.

[2019-01-31 09:37] cranes-bill commented on #2260
Since @Odyseus described where the problem comes from, thank you Odyseus,
@Gr3q, do you still want I try [that](https://github.com/linuxmint/cinnamon-spices-applets/issues/2260#issuecomment-459269122)!?

[2019-01-31 09:41] Gr3q commented on #2260
@cranes-bill No, there is no need.
@Odyseus that's bad. I take 3.6.x came out fairly recently?

[2019-01-31 13:22] claudiux commented on #2216
Hi @kauffy,

Can you give me an answer or close this issue, please?

Regards.
Claudiux

[2019-01-31 14:13] OrcusCZ commented on #2253
Hi, I'll look into it. The only change I did was that I now manually call $dispose() at the end of repaint event, so cairo surfaces are properly freed (the same fix as used in [this extension](https://github.com/paradoxxxzero/gnome-shell-system-monitor-applet/commit/19a382d50265c06ff20b393b2122f0cf73902e67)), so the only thing that could increase CPU usage compared to the current applet version is

[2019-01-31 15:45] Gr3q commented on #2260
I believe I can port my code from ES2017 (async stuff) to ES2015 quite safely with a little bit of helper code, but definitely not ES5/6.

Don't know how far can push the required cinnamon version back tho

[2019-01-31 15:57] MaxMotovilov commented on #2260
Want a bit of help? async functions to promise algebra is a very straightforward rewrite; I can try my hand at it and send a pull request. Might be a few days before I find a free moment, but I'm still on Mint 17.x myself so there's an incentive :)

[2019-01-31 16:04] EdPhere commented on #2260
I am running Cinnamon 3.8.6 and yes @**cranes-bill** the API I post is hacked to prevent loosing it.

[2019-01-31 16:50] Gr3q commented on #2260
@MaxMotovilov It would be nice.

To test out an applet you basically need to edit or overwrite the source files in the applet's folder on your system, then restart cinnamon to reload the files. the path to them is:
~/.local/share/cinnamon/applets/{appletname}@{appletowner}/

Today I need to Include the Requirement change in the readme and provide the previous version archived in the next pull requ

[2019-01-31 18:44] EdPhere commented on #2260
?? Ok.  155 items.
[code]

[2019-01-31 19:24] cranes-bill commented on #2260
@EdPhere
Now remove current applet from the panel.
Move the applet folder somewhere if you want to keep it up:
`mv ~/.local/share/cinnamon/applets/weather@mockturtl weather@mockturtl.old`
or simply delete it:
`rm -fr ~/.local/share/cinnamon/applets/weather@mockturtl`
then copy the new one to the applets folder:
`cp -r cinnamon-spices-applets/weather@mockturtl/files/weather@mockturtl \
~/.local/sha

[2019-01-31 19:37] Gr3q opened #2275 "Weather@mockturtl 2.1.0 does not work below Cinnamon version 3.8"
Opening the issue to get it some visibility.

Indicator: applet does not load, the reason is SyntaxError in the LookingGlass log. (Because of using async functions)

Example of Error:
[code]

It won't be fixed in the next update, but I will provide version 2.0.1 in the readme.

[2019-01-31 21:16] #2231 closed

[2019-01-31 21:16] #2243 closed

[2019-01-31 21:20] #2252 closed

[2019-01-31 21:59] EdPhere commented on #2260
New error msg, No Location, regardless of what I use for location.  Even London,UK doesn't work.

[2019-01-31 22:11] gaya4 commented on #2253
Hello,

Don't know if it helps; for years I used the simple iceWM that is
displaying ram as fixed bar in the middle and cpu+netload in variable
length around it.
Works similar but has some display bugs. Cinnamon goes better on a laptop
for intuitive use, navigation is better and I need the
gnome-online-accounts for Microsoft exchange.
That WMs code might be giving ideas, even the language is diffe

[2019-02-01 05:14] EdPhere commented on #2260
[code]

[2019-02-01 06:05] cranes-bill commented on #2260
@EdPhere:

Yeah, when I posted that, it was looking like two lines, so I really added a new line. However, there is another one service included in this version "**DarkSky**", did you try with it?

[2019-02-01 09:07] sphh commented on #2243
Thank you @claudiux!!

[2019-02-01 09:08] sphh commented on #2231
@claudiux, you are a star!

[2019-02-01 17:05] EdPhere commented on #2260
I see no **DarkSky** option.  Where would I find it?  Also today, starting over with this, I see no error msg in the panel, just 3 dots.

I do see this though.
[code]

[2019-02-01 21:17] cranes-bill commented on #2260
@EdPhere
Sorry for the late response, I have been occupied elsewhere! It is merged already, so you can try to reinstall the applet right from panel menu.

[2019-02-01 23:21] MaxMotovilov commented on #2275
Started looking at the code. 1st Q to you: are you sure settings callbacks are supposed to return promises? I can't find anything about it in Cinnamon docs; my suspicion is that the return value is simply ignored. Hence no point in making them async -- nothing will be waiting for completion anyway. I'll proceed on that assumption.

[2019-02-02 01:31] MaxMotovilov commented on #2275
Here's me with 3.2.7+serena...

[2019-02-02 01:33] MaxMotovilov commented on #2275
@Gr3q - for the time being I'm stuck with this:
[code]
Is CommonJS require one of those things that's been added in 3.6.x? Can't find much in the way of docs w/Google and definitely no time enough to read through Cinnamon code...

[2019-02-02 01:38] jaszhix commented on #2275
@MaxMotovilov It was added in 3.8. It was added because the CJS importer (the `imports` object getter) cannot reload a file once its loaded, Cinnamon has to be restarted. Files that are imported with require do reload when the applet does. All applets are loaded this way via promises initially.

I opened a PR that makes it a multi-version applet, so 2.0.1 is loaded for Cinnamon <3.8.

[2019-02-02 01:53] MaxMotovilov commented on #2275
Well. I guess as far as I'm concerned not updating the applet would achieve the same thing. I was hoping to contribute a rewrite back to plain ole ES6, but there's not much I can do about `require()` -- except, I guess, inline the modules (which the code owner isn't likely to accept...)

[2019-02-02 08:41] Gr3q commented on #2275
@MaxMotovilov I've switched requires to this last night on my dev branch:
[code]
Instead of using modules.export, regular functions can reside in the other files.
![image](https://user-images.githubusercontent.com/22377521/52162049-13dad780-26c6-11e9-870e-4a4a96e4745e.png)

Check it out [here](https://github.com/Gr3q/cinnamon-spices-applets/tree/dev)

[2019-02-02 13:56] Gr3q opened #2287 "weather@mockturtl 2.1.0 freezes the whole screen when it's moved in panel edit mode"
@janos-r Took the liberty to open an issue based on your comment on Cinnamon Spices

**Issue**

"Thank you for the update! Loved the app.

One big bug: System: Linux Mint 19.1 cinnamon Issue: When in "panel edit mode" and dragging the weather app (doesn't happen with other apps) to some other position, just to the right for example, the whole screen freezes.

Workaround: ctrl + alt + backspace - t

[2019-02-02 14:10] Gr3q commented on #2287
I was able to reproduce it consistently.

The problem might be in the refreshWeather function, because binding that to a button clickevent also freezes Cinnamon.
![image](https://user-images.githubusercontent.com/22377521/52165086-da20c580-26f3-11e9-9fcc-5b1963bad2ed.png)

[2019-02-02 14:46] feren commented on #2287
I've got this issue too, it hardlocks Cinnamon so hard for me that it requires a 'killall **-9** cinnamon' to be killed, it won't even react to a SIGTERM signal anymore at that point and exit whatsoever.

I've also identified that Moving The Panel also triggers the hardlock while the applet is active.

[2019-02-02 15:09] Gr3q commented on #2287
Update: It has to do with how I'm using libsoup, digging into it now

[2019-02-02 15:16] Gr3q commented on #2287
Update: It has to do with how I'm using libsoup, digging into it now

[2019-02-02 17:57] #2275 closed

[2019-02-02 18:36] EdPhere commented on #2260
Ok, fresh install.

2.1.1 2019-02-02 17:58 UTC

Entered API and left location as London,UK
DarkSky is a Data service

... in the panel

In Looking Glass log
[code]

If I switch service to DarkSky I get:

Service Error in the panel.
and
`error t=2019-02-02T13:30:43Z weather@mockturtl#19: Unable to obtain Weather Information
error t=2019-02-02T13:30:58Z weather@mockturtl#19: DarkSky: Could not const

[2019-02-02 19:14] Gr3q commented on #2260
Can Be, @EdPhere DarkSky only acceps coordinates, so use that.

Use these details:
Location:
51.8059106,0.3104199
And put DarkSky API key in there.

If it does not work, check if you have a file with a name starting with Soup int this folder:
/usr/share/gir-1.0/

[2019-02-02 19:53] MaxMotovilov commented on #2275
@jaszhix - `multiversion` does not seem to be working in my 3.2.7. Probably a later addition. Had to basically restore the 2.0.1 directory structure to get it to work.

@Gr3q - debugging anything in this env is a bit more of pain than I appreciated... recovery from lockups only by removing the offending applet. I can send you over my changes as a patch if you care for them, but probably won't have

[2019-02-02 21:13] feren commented on #2287
I've still got the issue on the newest version on Spices, but I've now got some output for it:
![img_20190202_210801-1](https://user-images.githubusercontent.com/11057934/52169386-51277f80-272f-11e9-8255-53de9b2a964a.jpg)

[2019-02-02 21:38] Gr3q commented on #2287
Apologies, the fix is not in this version, the pull request is up for it tho

[2019-02-02 21:38] feren commented on #2287
Oh, alright.

[2019-02-02 23:17] EdPhere commented on #2260
The coordinates didn't help and I don't have an API for DarkSky.

Data service OpenWeatherMap says (no key needed).  That referring to my API key?

[code]

[2019-02-03 08:20] cranes-bill commented on #2260
Hm, I thought _libsoup_ are not installed, but seems I was wrong.
Is there also some related message in X log file?
for example: `grep mockturtl ~/.xsession-errors`

[2019-02-03 09:47] Gr3q commented on #2275
@MaxMotovilov multiversion was indeed not working because a metadata.json file was accidentally left in the 3.6 folder.

also you shouldn't have lockups, just crashes. the applet was freezing because my incorrect use of Soup. Please try again when the new fixes are in, or I can have a look what you've done so far as well

[2019-02-03 11:00] Gr3q commented on #2260
I'm running out of ideas

OpenWeatherMap does not need an API key anymore,
DarkSky still needs an API key from them to work.

[2019-02-03 11:54] feren commented on #2287
This can now be safely closed, from my own experience with the Version 2.1.2.
Fixed by https://github.com/linuxmint/cinnamon-spices-applets/pull/2288

[2019-02-03 18:51] MaxMotovilov commented on #2275
Heh. Proved to be real easy to get Cinnamon to crash on restart - hence Ctrl+Alt+F1, kill & vi :-). That, and with the latest applet codebase Cinnamon crashes a lot more often than it used to; since I didn't update anything else it's probably attributable to the applet.

I will when I get a chance. Meanwhile -- in case you want a look at my rewrite -- I'm attaching a patch.
[async.patch.gz](https:

[2019-02-04 03:05] frederikmoellers opened #2294 "placesCenter@scollins: Use different default keyboard shortcut (not Super+P)"
[code]

**Notify author of applet**
@collinss

**Issue**
The Places Center applet uses the shortcut `Super+P` by default to open the menu. This conflicts with cinnamon's default keyboard shortcut for "Re-detect displays". The Places Center applet takes precedence and intercepts the hotkey, so the displays are *not* re-detected if the keyboard is not changed for either of the two. In order to give

[2019-02-04 05:42] EdPhere commented on #2260
Fresh start.
2.1.2
No API
Location 13669,US
Panel; No Location
Looking Glass log:
[code]
Restarted Cinnamon
Panel displays: ...
Looking Glass log:```

info t=2019-02-04T00:36:02Z Cinnamon.AppSystem.get_default() started in 46 ms
info t=2019-02-04T00:36:02Z loading user theme: /usr/share/themes/Dark-Glass/cinnamon/cinnamon.css
info t=2019-02-04T00:36:02Z added icon directory: /usr/share/themes/Dark

[2019-02-04 08:20] cranes-bill commented on #2260
@EdPhere:

[^^^^^^](https://github.com/linuxmint/cinnamon-spices-applets/issues/2260#issuecomment-459171389)      **What happened here, did you receive an answer?**

I've tried the applet on that system (_on a virtual machine_), and I can confirm it does not work on it. Even it's not possible to install any applet from the menu, because the result is some error message. In same time, there is a **

[2019-02-04 14:37] OrcusCZ commented on #2253
Hi,
I've changed the applet code to use only one drawing area, so if the higher CPU usage comes from $dispose(), it should be better now.

I didn't notice any significant CPU usage increase with my previous fix, but I've tested it only on one device and it was VM, because I don't use Ubuntu and wanted to test the same environment as you have.
I'll most likely update the applet to this new version

[2019-02-04 16:46] EdPhere commented on #2260
Did you activate the 05-devel module?

Other applets work and the previous version of weather worked.

And yes a Porteus tech is looking at the problem but he is busy.

[2019-02-04 17:08] cranes-bill commented on #2260
This one also works, just can't obtain the requested data (_on the mentioned OS only_)

**o_O** This is pretty weird, since @Gr3q did the past changes just because the previous version stopped working **;-D**

[2019-02-04 18:33] Gr3q commented on #2260
I'll download porteus for some testing as soon as I'll have time.

First I need to test some things out regarding the multiversion system, because it does not work for everyone.

[2019-02-04 19:27] dylskiMarcin opened #2295 "clipboard-qr@wrouesnel Aplet icon is not scaled correctly"
[code]

**Notify author of applet**
@wrouesnel

**Issue**
On system startup applet icon isn't scaled correctly.

**Steps to reproduce**
1. Add applet to panel.
2. Set panel width to 60.
3. Set "* panel zone icon size" to "Scale to panel size optimally" or "Scale to panel size exactly"
3. Restart Cinnamon
4. Applet icon will be smaller then other icons.
![image](https://user-images.githubuserconten

[2019-02-04 21:14] gaya4 commented on #2253
Hello,

Thanks again! I tried it, but in my environment I quickly see a line
dividing the bar from upper left to lower right. The line is drawn and
seemingly filling the lower half. Until the middle 80px bar seems like
it would not fully disappear. I'm attaching the small bar screenshot.
Hope it helps.

Am 04.02.19 um 15:37 schrieb OrcusCZ:

[2019-02-04 21:20] jorgenqv opened #2298 "weather@mockturtl: DarkSky observations"
@Gr3q

Thanx for the great work done to weather@mockturtl - I really like it !
Here is some minor thoughts on using the DarkSky service.

 * Applet version/Build date (2.1.3)
 * Cinnamon version (cinnamon 4.0.9)
 * Distribution - (Mint 19.1)
 * No ~/.cinnamon/glass.log
 * No ~/.xsession-errors

When using Data service DarkSky the current/start/first day is shown with yesterdays weekday name and th

[2019-02-04 22:41] Gr3q commented on #2298
Hello, could you tell me your timezone?

[2019-02-05 05:59] jorgenqv commented on #2298
Hi there, my timezone is CET (Central European Time) UTC/GMT +1 hour.

[2019-02-05 08:44] Gr3q commented on #2298
Had a look, indeed it is wrong.
Not even the sunset and sunrise times are right.

I was accessing one variable in the wrong place, I'll submit a pull request tonight

[2019-02-05 14:21] OrcusCZ commented on #2253
Hi, it looks like the drawing is all broken for some reason. Did you replace all the files including the settings-schema.json?

Could you send me your applet config? It should be in the directory `~/.cinnamon/configs/sysmonitor@orcus`. I didn't see this behavior in my environment and maybe it is something in your config which leads to it and allows me to replicate it. Thanks

[2019-02-05 16:10] EdPhere commented on #2260
2.1.3
`error t=2019-02-05T11:02:06Z weather@mockturtl#17: No location given when setting is on Manual Location
error t=2019-02-05T11:02:06Z weather@mockturtl#17: No location given when setting is on Manual Location
error t=2019-02-05T11:04:08Z weather@mockturtl#17: No location given when setting is on Manual Location
error t=2019-02-05T11:04:52Z weather@mockturtl#17: No location given when setting

[2019-02-05 16:36] DG1000 opened #2300 "["sessionManager@scollins"]: Error importing applet.js from sessionManager@scollins"
* Applet version/Build date: 1.1 2019-01-25 6:47 UTC
 * Cinnamon version: Cinnamon 3.6.7
 * Distribution: Ubuntu 18.04 LTS
 * Snippet or attachment of ~/.cinnamon/glass.log
[code]

**Notify author of applet**
@collinss

**Issue**

Applet does no more show up.

**Steps to reproduce**

Updated to latest version provided in Applets tool.

**Expected behaviour**

Applet shows up and is usable.

**Othe

[2019-02-05 16:38] cranes-bill commented on #2260
What happens when you switch off "**Manual Location**" option?

[2019-02-05 16:41] DG1000 opened #2301 "[Applet "weather@mockturtl"]: No JS module 'weather@mockturtl' found in search path"
* Applet version/Build date: 2.1.3 2019-02-04 20:02 UTC
 * Cinnamon version: Cinnamon 3.6.7
 * Distribution: Ubuntu 18.04 LTS
 * Snippet or attachment of ~/.cinnamon/glass.log
[code]

**Notify author of applet**
@mockturtl

**Issue**

Applet does not show up.

**Steps to reproduce**

Update to latest version.

**Expected behaviour**

Applet does show up and is usable.

**Other information**

[2019-02-05 18:11] EdPhere commented on #2260
Nothing.

[2019-02-05 18:21] jorgenqv commented on #2298
Nice! But sunset/sunrise looks alright to me.

[2019-02-05 20:34] Gr3q commented on #2298
Are you sure?

I'm positive if you change your location to japan or something you will get obviously wrong sunset/sunrise times

[2019-02-05 20:42] DG1000 commented on #2301
@mockturtl I did and still the same error in the logs.
I'm not really sure if I completely removed the applet since I used the UI for that. If there is somewhat like a purge or a command line way, let me know, please.

[2019-02-05 21:08] jorgenqv commented on #2298
Ah yes, just tried Japan and got sunrise late in the evening and sunset in the morning. My own location is the same in the app as on the web.

[2019-02-05 21:21] Gr3q commented on #2301
Applet does not work on only version 3.6 of Cinnamon, it seems its not using the version in the root folder.

Pull request submitted and tested on 7 versions here: https://github.com/linuxmint/cinnamon-spices-applets/pull/2302

[2019-02-05 21:59] gaya4 commented on #2253
Hi OrcuCZ,

I did replace the applet, graph and settings-schema as those were the changed files and overwrote files in
~/.local/share/cinnamon/applets/sysmonitor@orcus/3.2/
That should be OK, I believe. I crosschecked since it was late. But it is late again ;)
The settings are attached "28.json" (renamed from 28.json)

Thank you.

[28.txt](https://github.com/linuxmint/cinnamon-spices-applets/files

[2019-02-06 00:37] OrcusCZ commented on #2253
Hi, I think I got it. You have disabled swap, right? From the colors, it looked like swap graph was causing the problem and I found that if I disable swap, I get NaN as a value to plot (used / total = 0 / 0 with disabled swap, division by zero). And the resulting behavior was exactly the same as yours.
I changed only one file [https://github.com/OrcusCZ/cinnamon-spices-applets/blob/8d5b70ab6e7d40c

[2019-02-06 04:57] EdPhere commented on #2260
**@Gr3q** to test with Porteus:

Download  Porteus Cinnamon ISO from here: http://dl.porteus.org/x86_64/Porteus-v4.0/
Download Porteus 05-devel.xzm module from here: http://dl.porteus.org/x86_64/Porteus-v4.0/kernel/
I boot the ISO via grub2 (which I get from Grub2Win).

[2019-02-06 09:32] Gr3q commented on #2298
@jorgenqv could you check if it's working for you with the new version, and close this if it is?

[2019-02-06 12:01] jorgenqv commented on #2298
I will taket a look later today.

Den ons 6 feb. 2019 10:32 skrev Attila Greguss <notifications@github.com>:

[2019-02-06 17:05] jorgenqv commented on #2298
@Gr3q
Yes, works great! Also tried Tokyo and everything looks good. Sunset/Sunrise is correct, my local setting UTC/GMT +1 is the first weekday today, and in Japan tomorrows day is first witch is probably correct.
However:
1) The weekday names is not translated to my local language (everything else is translated, the longer conditions works nicely).
2) If I toggle the button Manual Location the se

[2019-02-06 21:43] Gr3q commented on #2298
First and third will be fixed in the next update, but I can't reproduce the second.

[2019-02-06 21:55] Gr3q commented on #2275
@MaxMotovilov  It looks good, although there are more async functions now because I had to make some fixes a few days ago. (bug what was freezing up Cinnamon)

[2019-02-07 06:06] jorgenqv commented on #2298
Super. Yes two needs more checking and could be me just clicking around, will open new if it's there after next update. Closing, thanx.

[2019-02-07 06:06] #2298 closed

[2019-02-07 06:52] Normmron opened #2305 "openweathermap data not accurate for Australia"
[weather@mockturtl] Include BBC for weather data

[code]

[2019-02-07 22:58] gaya4 commented on #2253
Hello,

sorry, I've been busy with work; I'm testing it now locally and it looks good for some minutes. I'll check tomorrow with working laptop and run it for the whole day.

Yes I don't use swap normally.

Thank you!

[2019-02-07 23:23] gaya4 commented on #2253
Hello again. Just shortly checked and compared. I believe the redraw is possibly causing the load directly. Not sure that can be actually fixed?
Subjectively I have the same load; 20%avg with 100ms refresh, and <5% with 1000ms refresh.
![load_diff](https://user-images.githubusercontent.com/13560529/52449423-9f75bd80-2b37-11e9-8101-12e1b3eec38e.png)

[2019-02-09 15:06] gaya4 commented on #2253
Hello,

I noticed that in the files you may have adapted settings, so there were some more/all monitors running off-screen. I disabled them, load is down to around 15-20%; So the drawing is causing the CPU load, in my case 10x per second, but I don't think that this can be changed without rewriting the code. Most people won't need the fast redraw. Behaviour is the same on both of my machines.
So I

[2019-02-09 15:42] OrcusCZ commented on #2253
Hi, thanks for letting me know. I'll change the code also for older Cinnamon, since my applet is multiversion, and then make a pull request. This issue will be closed after the pull request is accepted, so you don't need to do anything. When I have some more free time, I can check if there is any other way how to draw stuff in applets, which is not so demanding on CPU. Hopefully there is, no promi

[2019-02-09 16:37] gaya4 commented on #2253
"And thanks for your help with testing" - the least a(ny open source) consumer can do.
Thank you!

[2019-02-09 23:10] EdPhere commented on #2260
2.1.5

No change.

[2019-02-10 00:10] NikoKrause commented on #2155
Sorry for the late reply. Don't have much time lately.
I can reproduce this issue. This is not CinnVIIStarkMenu specific. It's the same issue with the settings-example@cinnamon.org applet, which means there's a bug with the Cinnamon API. I've pointed this out to the Cinnamon API expert.

[2019-02-10 00:24] NikoKrause commented on #2271
Hey @hadirena ,

the look of this applet is inspired by the Windows 7 Start Menu and the Linux Mint MATE Menu.
Merging 'Favorite' into application categories is too far away from this purpose.

The Windows 7 Menu always opens with the 'Favorites' window. The MATE Menu opens with 'Favorites' menu as well, but it remembers if it has been closed with 'Favorites' or 'All programs' window. That's what

[2019-02-10 00:54] collinss commented on #2155
Hi, this was fixed a few weeks ago, but unfortunately it didn't happen in time to make it into 19.1. You'll have to wait until 19.2 unless you want to build xapps from github.

https://github.com/linuxmint/xapps/commit/9291dd0216ed3b7cecf3154ad5eb7abafb208f39

[2019-02-10 00:54] #2155 closed

[2019-02-12 12:00] #2287 closed

[2019-02-12 19:52] Gr3q commented on #2305
Hello,

I agree, BBC weather data is accurate, when they provide data.

For example, Cambridge did not have current weather data for the whole last weekend in their rss feed, and the often omit weather conditions from there too.

I'd like to include it but it may end up more unreliable than the others.

The other option is that I can fill up the holes from the forecast, but it won't be accurate th

[2019-02-13 00:26] Odyseus commented on #2305
Hello, everybody.

@Gr3q

You could look at the Feeds Reader applet for [how does it calls a Python script](https://github.com/linuxmint/cinnamon-spices-applets/blob/master/feeds%40jonbrettdev.wordpress.com/files/feeds%40jonbrettdev.wordpress.com/feedreader.js#L134) to get [the return data](https://github.com/linuxmint/cinnamon-spices-applets/blob/master/feeds%40jonbrettdev.wordpress.com/files/fee

[2019-02-14 08:45] sphh opened #2320 "[cinnamon-timer@jake1164] Downloadable applet not updated to 1.2.0"
**Notify author of applet**
@jake1164 @jaszhix

**Issue**

The applet's website https://cinnamon-spices.linuxmint.com/applets/view/302 shows the new version 1.2.0, but the downloaded zip-file from the download link provided (https://cinnamon-spices.linuxmint.com/files/applets/cinnamon-timer@jake1164.zip) still contains version 1.1.3. If I install the applet via the `Applets` program, I also only g

[2019-02-14 20:03] EdPhere commented on #2260
2.1.6

No change.

[2019-02-14 20:48] cranes-bill commented on #2260
You really still thing the problem is in the applet, sorry but you are wrong!

[2019-02-15 11:25] cranes-bill commented on #2305
@Gr3q, you can check out whether [nodejs-htmlparser2](https://github.com/fb55/htmlparser2) could be implemented somehow.

[2019-02-15 13:45] Gr3q commented on #2305
@cranes-bill Even if I could, I'm not sure if it's not a too big tradeoff. That module has 8 files, and 6+4 dependencies. Include that into the applet would be a huge overkill.
I was actually looking at [this](https://github.com/blowsie/Pure-JavaScript-HTML5-Parser).

@Odyseus bbcwx has a pure JS XML parser (marknote) so I can use that for RSS feeds. I could live with the thing that BBC's rss feed

[2019-02-15 14:56] cranes-bill commented on #2305
Oh, that makes nonsense...
Also I'm absolutely agree that "_BBC's rss feed is utter garbage_". I was used it for a while when the applet was non working and noticed that they do not provide a correct data, so i failed to realise why @Normmron determines them as "_accurate_".

[2019-02-15 17:00] EdPhere commented on #2260
Maybe, but usually when an applet won't run in a environment it says so before being activated.  The new weather@mockturtl isn't doing that.

The older version was able to access weather on the 'net, the Simple Weather Indicator app can access weather on the 'net, at the same URL as the new weather@mockturtl is using if I'm not mistaken, so my system; hardware, OS and software, supports accessing

[2019-02-15 20:05] #2216 closed

[2019-02-15 20:05] #2253 closed

[2019-02-16 05:36] amirashabani opened #2322 "jalalicalendar@mohammad-sn: The year number (%Y or %y) is not in persian."
[code]

**Notify author of applet**
@mohammad-sn

**Issue**
The year number (when using %Y or %y in format) is not in Persian letters.

**Steps to reproduce**
Simply use this format (%A، %e %B %Y) and you'll see.

**Expected behaviour**
For example, the number should be ۱۳۹۷. But it's 1397, which makes it ugly.
![image](https://user-images.githubusercontent.com/23696447/52895064-165f2600-31ca-11e9

[2019-02-16 16:48] Normmron commented on #2305
You need to compare the weather data with the data provided by the Australian Weather Bureau, its almost identical.  I've verified the BBC's accuracy for Australia with the desktop applet over several months (the desktop applet uses the BBC weather as its source).

The desktop weather applet uses the BBC reference number from the webpage:
"https://www.bbc.com/weather/2158177" for its configuration

[2019-02-16 22:18] kelebek333 opened #2323 "nvidiaprime@pdcurtis: not working Linux Mint 19.x series"
[code]

Hi @pdcurtis,

Nvidia-prime application in the Linux Mint 19.x series does not use bbswitch. therefore, following error occurs. The applet is not working properly because Bbswitch is not  in Linux Mint 19.x series.

[2019-02-17 19:23] pdcurtis commented on #2323
@kelebek333 I currently have no access to a machine using optimus and will not for seversl months so unless you are in a position to suggest alternative tests to use of bbswitch and /proc/acpi/bbswitch to see if nvidiaprime is enabled I will have to just block use under 19.x - just installing bbswitch may have not be sufficient or have other consequences under 19.x

There can not be many users if

[2019-02-18 01:05] kelebek333 commented on #2323
@pdcurtis ; yes, installation of bbswitch not necassarry on Linux Mint 19.x. Because in this version nvidia-prime does not use bbswitch.

Most Nvidia-prime users may be using the default applet, so the issue may not have been noticed.

However, the extras in your applet are more useful in my opinion. That's why I wanted to give feedback. Prime-select command in the default applet can be used to qu

[2019-02-18 08:05] mraandtux opened #2325 "(Feature Request) Grayscaling the entire screen"
I'd like to see a applet that based on [laerne/desaturate_all](https://github.com/laerne/desaturate_all), which can change display from colour to greyscale. Now there's a GNOME Shell extension (mentioned above) and a [KDE extension](https://store.kde.org/p/1263836), plus CompizConfig settings on MATE (which works on specific window, not the whole screen), I think there's should be a desaturation a

[2019-02-18 09:02] Odyseus commented on #2325
Hello, @mraandtux.

If you are interested, here you have the Desaturate All Gnome Shell extension ported into a Cinnamon applet.

[desaturate-all@domain.com.zip](https://github.com/linuxmint/cinnamon-spices-applets/files/2874735/desaturate-all%40domain.com.zip)

[2019-02-18 09:52] mraandtux commented on #2325
Thanks @Odyseus !
Time to upload that on Cinnamon Spices, but retain the applet name to desaturate-all(at sign here)nicolas.brack.mail.be, but I haven't found any doc for porting GNOME Shell extensions to Cinnamon.

[2019-02-18 18:11] pdcurtis commented on #2323
@kelebek333 Will have a look over the next few days and see if I can put something together for ypu to test.

[2019-02-18 22:11] ChooChooAl opened #2326 "Feature Request. Coloring and accent. weather@mockturtl"
Version 2.1.6   2019-02-11
Linux Mint 18.3 Cinnamon 64bit

https://github.com/linuxmint/cinnamon-spices-applets/tree/master/weather@mockturtl

Suggestions for more contrast in coloring.  Even going as far as allowing the user to specify the colors for headers, stats, and city so the applet will look better with different themes.
See suggested changes I made by adjusted code locally.  My theme is a

[2019-02-19 09:38] Gr3q commented on #2326
Good Idea,

If I would implement it, it would be an optional feature and the colors would be based on the current theme. Don't know how much information can I get out from the themes without having a look around first.

But first when I'll have some time I will work on backporting the version what is running on Linux Mint 19+ to work on previous versions too. (Including DarkSky API, Automatic loca

[2019-02-19 13:33] ChooChooAl commented on #2326
I'm using a cinnamon theme and there is a cinnamon/cinnamon.css file that has a section 'applet.js' in it.
attached is that section.   Thought this might help your research.    It's not java script, not sure why but they label the sections with .js like menu.js panel.js etc.
[applet.txt](https://github.com/linuxmint/cinnamon-spices-applets/files/2880174/applet.txt)

[2019-02-21 21:12] jorgenqv opened #2327 "weather@mockturtl missing OpenWeatherMap conditions"
weather@mockturtl

[code]
@Gr3q

**Issue**
- When using OpenWeatherMap some weather conditions are not translated from English to the chosen localized local language.
- Workaround is to manually add the missing conditions in the po language file, but this will be gone when you run the update Bash script ./cinnamon-spices-makepot

**Steps to reproduce**
- Log in as a user with any language other th

[2019-02-22 04:10] mraandtux opened #2328 "Cinnamenu@json: locale broke after restart"
[code]

**Notify author of applet**

@jaszhix

**Issue**
Locale broke when restarting Cinnamon. See figs 1 and 2
Before restarting Cinnamon:
![translated](https://user-images.githubusercontent.com/2002796/53219069-8d4c6100-3699-11e9-97bb-a3ef638be2b6.png)
After restarting Cinnamon:
![untranslated](https://user-images.githubusercontent.com/2002796/53219072-92111500-3699-11e9-8708-e62a3404d2b8.png)

[2019-02-22 18:28] Gr3q commented on #2327
@jorgenqv that is indeed the correct way of doing it (the only way actually as they come from external source).

I get it done tonight

[2019-02-22 18:38] jorgenqv commented on #2327
wow great :-)

[2019-02-22 21:38] Gr3q commented on #2275
@MaxMotovilov I've had bit of time to look into it in a Linux Mint VM.

It was indeed freezing cinnamon because _httpsession.send_message is not async. It was working kinda fine in async functions but I had replaced it with the promisified async equivalent of it.

Here is the version with your changes in what is not crashing: https://github.com/Gr3q/cinnamon-spices-applets/tree/3.8-backport/weathe

[2019-02-22 21:57] Gr3q commented on #2327
@jorgenqv I had a look at the OpenWeatherMap docs, first could I ask for what language was not translating properly, and do you remember which conditions were not translated?

Because I might need to keep both versions in, as OpenWeatherMap has a main condition (short), and a longer condition. Longer Condition comes translated, but the main one is not, and that is not documented properly.

[2019-02-22 21:58] MaxMotovilov commented on #2275
Will do, as soon as I can get a breather :-)   Perhaps this weekend if I'm lucky enough. Thanx!

[2019-02-22 22:14] jorgenqv commented on #2327
Hello. Just as an example I switch to Danish and none of the current conditions is translated.
![skaermbillede fra 2019-02-22 23-07-04](https://user-images.githubusercontent.com/5297223/53274441-90763a00-36f7-11e9-9407-a47a453add89.png)

[2019-02-22 22:21] jorgenqv commented on #2327
@Gr3q I have been running my Swedish translation for a couple of weeks with all the conditions found on the openweathermap link and they have all been translated this far. But conditions are of course limited to the season of winter right now with a lot oft rain.... ;-)

[2019-02-24 09:44] jorgenqv commented on #2327
#2331

[2019-02-25 06:25] smurphos opened #2332 "collapsible-systray@feuerfuchs.eu - spamming xsession-errors"
[code]

**Notify author of applet**
@Feuerfuchs

**Issue**
Lots of xsession spam on Cinnamon start-up and when the tray is opened /closed. I have indicators enabled. Disabling indicators appears to prevent the spam when the tray is open/closed but not the spam as start-up.

Startup
[code]

Open/Close
[code]

**Steps to reproduce**
Monitor output to xsession-errors

**Expected behaviour**
Error fre

[2019-02-25 07:03] smurphos opened #2333 "Cinnamenu@json - various issues with application descriptions"
[code]

**Notify author of applet**
@jaszhix

**Issue**

1) Tooltip mode - in list layout tooltips are rendering way outside of the menu. In grid view in some themes with a bordered tooltip the right hand edge of the tooltip can be cut-off by 1 pixel.

2) Under titles mode is fine but I think it would be better to leave a blank space rather than add the 'No description available text' for entries

[2019-02-27 17:20] jorgenqv commented on #2327
Works fine with the new structure, thanks

[2019-02-27 17:20] #2327 closed

[2019-02-28 21:23] EdPhere commented on #2260
Hi cranes-bill.

I've been tinkering with your script and made a couple of changes.

My changes, basically changing Pressure from hPa to barometer inches.  I initially tried psi.

#    the_pres = data['main']['pressure']
    hpa_pres = data['main']['pressure']
#    the_pres = (hpa_pres * 0.0145037738)
    the_pres = (hpa_pres * 0.02953)
    the_hmdt = data['main']['humidity']
    the_wnds = data['

[2019-03-01 08:19] cranes-bill commented on #2260
Haha, that was a quickly written script just for the testing purposes, it probably can be done much better, but since you finding it useful, you might do the following changes:
<details>
<summary><b>Click to see diff</b></summary>

[code]
</details>

Adding `&units=imperial` to the request link will make temperature to be received **directly in Fahrenheit** as well as **wind speed in miles per hou

[2019-03-01 18:46] EdPhere commented on #2260
Wow!!!  Thank you.

This is my 1st time working with Python.  I wasn't aware it was a script language.  And since it works ...   :+1:

What do the @@ lines do?

[2019-03-02 15:14] cranes-bill commented on #2260
If you mean `@something`, it's calling **DECORATOR**, but I'm afraid you first should get familiar with **classes** and **methods** in order to understand how does it work.

Yes, it provides data for every 3 hours for the next 5 days + the current day.

[2019-03-02 16:44] EdPhere commented on #2260
If you mean `@something`, it's calling **DECORATOR**,
_Originally posted by @cranes-bill in https://github.com/linuxmint/cinnamon-spices-applets/issues/2260#issuecomment-468929221_

No, I was referring to the @@ -12,7 +12,7 @@ and @@ -37,15 +37,15 @@  lines in the code you posted.

[2019-03-03 12:14] cranes-bill commented on #2260
Oh, sorry, that is just a **diff** _(patch)_ syntax and you should ignore those lines. They are only needed for the **patch** program.

[2019-03-04 19:42] EdPhere commented on #2260
2.1.7

13669,US

[code]
Even when I add my OpenWeather API.

[2019-03-05 04:01] a-bentofreire opened #2349 "stopwatch applet: The configuration panel doesn't allows to add multiple instances"
[code]

**Issue**
After I install, and added to the tray, I go to the configuration dialog box, but only displays the general settings for the applet. It doesn't allows me to add more instances, as shown on the image below:

![config-box](https://user-images.githubusercontent.com/7064913/53779777-741a9e80-3f3c-11e9-9b08-b840271150c9.png)

**Expected behaviour**
Allow to add multiple instances:
![E

[2019-03-05 06:12] cranes-bill commented on #2260
`weather@mockturtl#19: No location given when setting is on Manual Location`
That error occurs during typing in the _location field_. It is not related to your problem.

[2019-03-05 10:35] Mintulix commented on #2209
Hi @jaszhix, are you maintaining this now? Still no reaction from @mohammad-sn...
This is the only applet I know flooding the Melange log (at least when used for switching workspaces).

[2019-03-05 10:54] sphh commented on #2320
Since the latest update #2337 the new version is installed and downloaded from the link provided.

[2019-03-05 10:54] #2320 closed

[2019-03-05 14:11] claudiux commented on #2320
Add a question mark at the end of the URL. This forces the cache to send you the latest version of the zip file.

[2019-03-05 14:17] sphh commented on #2320
Thanks, I will try to remember.

Does the `Applets` program also has a cache? And shouldn't the `Applets` program always check if a newer version is available?

[2019-03-05 16:24] jaszhix commented on #2209
Nope, but if he doesn't respond we can switch the author to none, or consider removing it.

[2019-03-07 00:21] EdPhere commented on #2260
In that that error and the icon and No Location display in the panel are all I get I kinda think it is.  I don't have a lot to show when I try this applet.

[2019-03-07 00:25] EdPhere commented on #2260
BTW What I ended up with with your script.
`LAT_ID = '44.69'
LON_ID = '-75.49'
CITY_ID = '13669'
CTRY_ID = 'us'
show_data = 'Service Unavailable!'
data = None

def get_data(key):
    jsn = get('https://api.openweathermap.org/data/2.5/weather?q=%s,%s&APPID=%s&units=imperial' \
    % (CITY_ID, CTRY_ID, key))
#    jsn = get('https://api.openweathermap.org/data/2.5/weather?lat=%s&lon=%s&APPID=%s&units

[2019-03-08 07:01] smurphos opened #2352 "IcingWindowSaver@json feature request"
[code]
@jaszhix

**Feature Request**

Hi Jazhix - any appetite to expand the feature set of this applet?

I was unaware that is existed until a few days ago.

What would be nice are options to also

1) Save and restore the window's workspace.
2) Launch any application windows on restore that were open at the point of saving that are not open at the point of restore.

[2019-03-08 14:29] jaszhix commented on #2352
Yeah, I actually have some changes I've been testing locally for a while, but haven't got around to committing - which is restoring  window stack order between restarts.

1. This is possible. Muffin also has a session restore feature that is currently disabled, I want to test that before doing any more extensive extension work in this area.
2. This can get tricky because Cinnamon can only preserve

[2019-03-08 15:11] Ilis opened #2354 "smallcalc_applet@lerc.sds MathJS is undefined"
@lerc

After upgrade from Mint 18.3 to Mint 19 and updating applet to latest version I have an error at cinnamon startup

[smallcalc_applet@lerc.sds]: MathJS is undefined
[smallcalc_applet@lerc.sds]: Error importing applet.js from smallcalc_applet@lerc.sds

Cinnamon 4.0.9

[2019-03-09 00:45] Wikinaut opened #2355 "Radio++ : no icon shown in the system tray"
* LinuxMint 19.1

After installation of Radio++ and MOC Player, it works, but no icon is shown for that applet in the tray:
![grafik](https://user-images.githubusercontent.com/1151915/54063504-fd67f480-420c-11e9-83c1-e8b25fc9c2e3.png)

[2019-03-09 15:21] jkirk opened #2356 "pomodoro@gregfreeman.org: Duration values are not visible"
**A few facts**

* Applet version/Build date (to be found in "About.." or in **"metadata.json"**)

"About..." does not show a version or build date. (I think, this should be fixed, too).

`metadata.json`:
[code]
* Cinnamon version (cinnamon --version)
Cinnamon 3.2.7

 * Distribution - (Mint 17.2, Arch, Fedora 25, etc...)
Debian/stretch

 * Graphics hardware *and* driver used
_I am not perfectly su

[2019-03-10 01:33] kauffy opened #2359 "CommandRunner@appdevsw Doesn't properly handle certain command lines."
[code]

**Notify author of applet**
@appdevsw

**Issue**
Command Runner doesn't wind up with expected result from running a command-line.

**Steps to reproduce**
Enter a command like: df -h / --output=avail | grep -G '[GM]'

In an actual terminal, it produces the expected result: (in my case) " 5.9G"

In the applet, it shows the prefix text, then nothing, or if there's no prefix text, <no text>.

[2019-03-10 11:13] claudiux commented on #2355
Hi @Wikinaut,

This issue is now solved by #2357.

[2019-03-10 20:41] kauffy commented on #2216
Sorry about that. I didn't see the notification that there'd been a response. The issue is still occurring (I tested after I saw this, by re-enabling that Applet).

Here is the output you requested:

`{
    "description": "Display the weather from several web services on your desktop",
    "last-edited": "1494185621",
    "name": "Weather Desklet",
    "uuid": "bbcwx@oak-wood.co.uk",
    "max-inst

[2019-03-10 21:41] #2355 closed

[2019-03-11 13:18] Fabian42 opened #2360 "[@SpicesUpdate@claudiux] Crash when adding to panel"
[code]

**Notify author of applet**
@claudiux

**Issue**

When clicking "add to panel" in the applet menu, I get the error message "There was a problem loading the selected item and it has been disabled. Check your system log and the Cinnamon LookingGlass log for any issues. Please contact the developer." I am doing that. ;)

**Steps to reproduce**

1. Install Debian with Cinnamon DE.
2. Open syst

[2019-03-11 17:45] claudiux commented on #2216
Hi @kauffy,

This is not a bug from this applet. I do not know why, but the last-edited value is between quotation marks. Please replace
`"last-edited": "1494185621",`
by
`"last-edited": 1494185621,`
then retry to update your desklet (Refresh the cache).

[2019-03-11 18:06] Fabian42 opened #2361 "[Cinnamenu@json] Calculator "search provider" hides other search results"
[code]

**Notify author of applet**
@jaszhix

**Issue**

Entering an equation in the search bar while the "search provider" "Calculator" is active gives the result of the calculation, but also makes all other search results invisible. They can still be selected with the keyboard and they still show their tooltip if that is activated, but they don't react to the mouse and they don't show any text o

[2019-03-11 18:49] claudiux commented on #2360
It's normal, for the moment. This applet is intended to work with Cinnamon 3.8 or 4.0 (Linux Mint 19 or 19.1). Now that the development is finished, I will try to make a multi-version (which is more complicated to maintain for me), but only for Cinnamon version 3.6 and greater.

I encourage you to migrate to a newer version of Cinnamon.

[2019-03-11 18:57] Fabian42 commented on #2360
Synaptic and apt-get give me no updates.

[2019-03-11 19:14] claudiux commented on #2360
@Fabian42 You can try https://linuxmint.com/download_lmde.php or http://developer.linuxmint.com/reference/git/cinnamon-tutorials/building.html.
(I'm using Debian only on my servers, without GUI.)

[2019-03-11 21:45] dilinger commented on #2305
I have a similar issue here in Seattle.  Right now the weather applet says light snow.  It is definitely not snowing (or even raining) right now.  Yahoo weather has the right info; cloudy, rain later on.  I've noticed this several times this week; current temperatures and weather conditions were way off. I've verified on the openweathermap site that it's not the app's fault - the source data is in

[2019-03-12 20:54] kauffy commented on #2216
@claudiux Ahh, thank you.

Oddly, when I made this change, then the Desklets app _did_ actually show an update was needed. I did the update, and now it appears settled.

[2019-03-13 19:08] claudiux commented on #2216
@kauffy  I just made a PR to solve this problem in Cinnamon.

[2019-03-13 19:35] Gr3q commented on #2305
@Normmron @dilinger actually integrated BBC Weather, but I never released because sometimes it does not provide current weather.

 I can try to get Yahoo working again instead now that their website is actually functioning correctly...but it is still a fact that it won't be available below Cinnamon version 3.8 for now as I've got serious issues backporting that version of the app.

[2019-03-14 10:17] cranes-bill commented on #2305
@Gr3q
You could also look at [xfce4-weather-plugin](https://git.xfce.org/panel-plugins/xfce4-weather-plugin/). It uses a [data](https://api.met.no/weatherapi/locationforecastlts/1.3/documentation) from **Norwegian Meteorologist institute**, which requires no api key.
**NOTE:** _Just a suggestion, I'm pretty fine with Openweathermap_

[2019-03-14 16:53] claudiux commented on #2360
@Fabian42 https://blog.linuxmint.com/?p=3615

[2019-03-15 11:10] tcuje opened #2371 "hwmonitor@sylfurd Not showing new data after system standby"
[code]
 * ~/.xsession-errors [xsession-errors.txt](https://github.com/linuxmint/cinnamon-spices-applets/files/2970660/xsession-errors.txt)

**Issue**

When I send my computer to sleep mode and wake it up again the applet keeps showing the data it had before the sleep. I have to restart Cinnamon to make it update again.

Issue occurrs for CPU and RAM visualization.

before sleep state:
![image](htt

[2019-03-21 19:37] claudiux commented on #2360
@Fabian42 You can also use mint-dev-tool to build the latest version of Cinnamon : http://segfault.linuxmint.com/2015/03/introducing-mint-dev-tools-a-collection-of-tools-for-linux-mint-developers/

[2019-03-23 16:40] Heterodyne opened #2382 "sshlauncher@sumo: applet dies because of wrong option for setting gnome-terminal title"
[code]

**Notify author of applet**
@sumo

**Issue**
SSH Launcher doesn't launch an SSH terminal (GNOME Terminal 3.30.2 using VTE 0.54.3 +GNUTLS) because applet uses -T (instead of -t) to set the terminal name.

**Steps to reproduce**
Use aplet to launsh SSH session ...

**Expected behaviour**
A terminal window appears and an ssh session is run in it.

**Other information**
The applet.js has a lin

[2019-03-26 13:12] Gr3q commented on #2305
@cranes-bill had a look the Norwegian Met API, the data accuracy is pretty similar to DarkSky's, that's good.

[2019-03-27 11:42] sumo commented on #2382
Unfortunately this is not backward compatible. Looks like I will have to make the terminal and the editor into configuration settings so they can be set per distro.

[2019-03-29 16:33] jkirk opened #2392 "[bash-sensors@pkkk]: Color background"
**Facts**

 * Applet version/Build date:
  v0.7
 * Cinnamon version (cinnamon --version)
  Cinnamon 3.2.7
 * Distribution - (Mint 17.2, Arch, Fedora 25, etc...)
  Debian GNU/Linux 9.8 (stretch)

**Notify author of applet**
N/A

**Issue**
Is it possible to color the background?

[2019-03-29 16:36] jkirk commented on #2392
Even though the author of "bash-sensors" is not listed in https://github.com/linuxmint/cinnamon-spices-applets/blob/master/.github/CODEOWNERS, trying to ping: @pkkk. Can you hear me? :)

[2019-03-29 18:16] jkirk opened #2393 "[hwmonitor@sylfurd]: Can not add to panel"
**Facts**
 * Applet version/Build date (to be found in "About.." or in "metadata.json")
 N/A (git rev https://github.com/linuxmint/cinnamon-spices-applets/commit/714987a176264c812b3cd41f72b045e0df3236d1 I believe)
 * Cinnamon version (cinnamon --version)
  Cinnamon 3.2.7
 * Distribution - (Mint 17.2, Arch, Fedora 25, etc...)
  Debian GNU/Linux 9.8 (stretch)

**Notify author of applet**
@sylfurd (n

[2019-03-30 17:19] hawkinsAndroid opened #2395 "sysmonitor@orcus Error initializing applet but glibtop is installed - OpenSuSE Tumbleweed"
sysmonitor@orcus

 * Sysmonitor@ocus 1.6.4
 * Cinnamon version 3.8.9
 * Distribution - OpenSuSE Tumbleweed

@orcuscz

The applet refuses to start, It's claiming that glibtop is not installed, however It's there:

[code]

[2019-03-31 11:48] edaubert opened #2397 "multicore-sys-monitor@ccadeptic23: Hide new network interfaces by default"
**Notify author of applet**
@jaszhix

**Enhancement**
Is it possible to hide new network interfaces by default instead of adding them by default ?

I am using docker on my machine and multiple network interfaces are created with all my containers instantiation.
I'd like to hide all of them.
But each time I create a new container, its interface is added on the applet and I need to manually deactiva

[2019-04-02 16:42] SamBurgos commented on #1294
Apologies if this issue is no longer relevant, in the case of Archlinux/Manjaro/Any Arch derivative, the package is named "xorg-xkill", once you install this package the applet works as intended

[2019-04-06 15:25] EdPhere commented on #2260
Still trying, still failing.

[[url=https://postimg.cc/S21mG8vc][img]https://i.postimg.cc/S21mG8vc/Screenshot-from-2019-04-06-02-29-03.png[/img][/url]](url)
`info t=2019-04-06T02:12:06Z Installing settings for weather@mockturtl
info t=2019-04-06T02:12:06Z Settings successfully installed for weather@mockturtl
info t=2019-04-06T02:12:06Z Loaded applet weather@mockturtl in 220 ms
error t=2019-04-06T0

[2019-04-06 15:34] EdPhere commented on #2260
I'm still trying.

[url=https://postimages.org/][img]https://i.postimg.cc/j2tCt463/Screenshot-from-2019-04-06-02-29-03.png[/img][/url][url=https://banks-nearme.com/bitcoin-atm-near-me]bitcoin locations near me[/url]

`info t=2019-04-06T02:12:06Z Installing settings for weather@mockturtl
info t=2019-04-06T02:12:06Z Settings successfully installed for weather@mockturtl
info t=2019-04-06T02:12:06Z Lo

[2019-04-08 09:57] jkirk opened #2407 "pomodoro@gregfreeman.org: Sounds not playing"
**A few facts**
* Applet version/Build date (to be found in "About.." or in **"metadata.json"**)

"About..." does not show a version or build date. (I think, this should be fixed, too).

`metadata.json`:
[code]
* Cinnamon version (cinnamon --version)
Cinnamon 3.2.7

 * Distribution - (Mint 17.2, Arch, Fedora 25, etc...)
Debian/stretch

**Issue**
No sounds are played.

**Steps to reproduce**
* Soun

[2019-04-09 17:49] n-peugnet opened #2408 "[betterlock] Keyboard layout options' "ShiftLock" compatibility"
[code]

**Issue**
The applet doesn't detect the caps lock key if in `Keyboard Layout Options` the caps lock behavior is set to `Caps Lock toggles ShiftLock (affect all keys)`

**Steps to reproduce**

1.  Go to Keyboard -> Layout -> Options and set `Caps Lock Behavior` to `Caps Lock toggles ShiftLock (affect all keys)`
2.  Press the Caps Lock key

**Expected behaviour**
The Caps Lock indicator shou

[2019-04-10 23:56] EdPhere commented on #2260
Version 2.1.7 and full python 2.7 and still "No Location".

[2019-04-15 16:48] pdcurtis commented on #2323
It looks possible to use code from
https://github.com/linuxmint/nvidia-prime-applet/blob/master/usr/share/cinnamon/applets/nvidia-prime%40cinnamon.org/applet.js as
@kelebek333  suggests but I am not happy about making fairly major changes 'blind' as I have no way to test them as I am using  Bubblebee on my only Optimus machine and nvidia-prime is incompatible.

I have therefore blocked use of the

[2019-04-18 15:31] #2323 closed

[2019-04-25 06:59] jpachta opened #2422 "weather@mockturtl: custom configuration is ignored when pressed hot key Shift+Super+W"
Environment:
weather@mockturtl version: "2.1.7"
Cinnamon 4.0.10
Fedora 29

**Notify author of applet**
@mockturtl

**Issue**
It seems that the hot key opens weather ignoring the custom settings.

In my case I have set manual location as Brno,CZ and simplified icons, 24-hour format. All of these are working when I click on the panel applet.
However when I press the key sequence Shift+Super+W to cal

[2019-04-25 14:26] Gr3q commented on #2422
I can't reproduce this on Arch Linux

[2019-04-25 14:34] mockturtl commented on #2422
reference: 482387d3

Do you have multiple instances of the applet?  It sounds like the hotkey may be raising a second, unconfigured copy of it.

[2019-04-25 23:45] tsjnachos117 opened #2423 "multicore-sys-monitor@ccadeptic23: No network devices"
[code]

**Notify author of applet**
@jaszhix

**Issue**
I can't monitor any network devices. If I mouseover the applet, the "Networks" section is blank, as if I didn't have any network adapters (not even lo). Since you're reading this, it's pretty safe to say I am connected to the internet.

If I connect to a VPN **AFTER** the applet is loaded, a "tun" device (typically "tun0") will appear, but th

[2019-04-27 08:29] Sven71 commented on #1877
Unable to add title. The moment I do it the whole applet simply disappears from view. OS: Mint Cinnamon 19.1

[2019-04-30 09:01] #2189 closed

[2019-05-02 12:25] Floyer007 opened #2430 "localipswithsettings@edaubert doesn't work with Mint 19.1 Cinnamon"
localipswithsettings@edaubert

[code]
[code]

[code]

**Notify author of applet**
@edaubert

**Issue**
The icon only shows three points.
Therefore no IPs are shown.
Everything worked before I upgraded to LM19.1.
Something seems to be different now.

**Steps to reproduce**
Install the applet and configure its settings to match the interfaces out of "ifconfig".
You will see, that no IPs are shown.

[2019-05-03 09:44] Floyer007 commented on #2430
I reinstalled the applet by choosing the ZIP-File from [applets](https://cinnamon-spices.linuxmint.com/applets/view/283).
After a restart everything works now.

Weird.

[2019-05-03 09:44] #2430 closed

[2019-05-03 18:40] Mintulix commented on #2209
I'd prefer fixing it (sadly beyond my scope). I find it quite useful as
replacement for Windows Aero Peek at the lower right corner. It's
configurable and has a suitable touchpad gesture as desktop switcher.

[2019-05-06 10:29] fireraiserDE commented on #2393
Yep, same issue on my device:
`error t=2019-05-06T10:27:24.612Z [Applet "hwmonitor@sylfurd"]: Failed to evaluate 'main' function on applet: hwmonitor@sylfurd/27
error t=2019-05-06T10:27:24.612Z Could not load applet hwmonitor@sylfurd`

[2019-05-11 15:00] xzj8b3 opened #2434 "What do you require to be able to use it on Fedora 30?"
What do you require to be able to use it on Fedora 30?

[2019-05-20 02:35] monkeyboy537 opened #2437 "weather@mockturtl: Makes system animations lag"
[code]

**Notify author of applet**
@

**Issue**

Make Linux mint animations (some are not affected) go really laggy unless the applet updates, which does not update

**Steps to reproduce**

Add the weather spice to bar, then put system to sleep, wake up and wait, then it lags

**Expected behaviour**

It should update and not make mint animations lag

**Other information**
I don't know if this is

[2019-05-21 20:06] Gr3q commented on #2437
Hello,
What version of cinnamon are you using, and what version of the applet are you using?

[2019-05-22 11:52] moretocome commented on #1877
I am using it right now on two machines running LM19.1. I am using @Odyseus' version, and it works like a charm, so I suspect your problem is local, @Sven71

[2019-06-10 00:25] illumilore opened #2445 "website: no way to unlike applet"
On the website: https://cinnamon-spices.linuxmint.com/ when at applet page, if you accidentally hit like, there is no obvious way to undo like.

[2019-06-11 02:43] BrokenBranch opened #2447 "sticky@scollins: Doesnt work on mint 18.3 anymore"
Cinnamon 18.3
After reinstalling 18.3, the sticky notes no longer work.
I just get a notice saying something went wrong while loading it.

[2019-06-12 00:09] some-username-here1 opened #2448 "gputemperature@silentage.com: only basic info shown with AMDGPU and only visible from top panel"
* Applet version/Build date: `2.0.0`/`2019-03-20 02:32 UTC`
 * Cinnamon version: Cinnamon 4.0.10
 * Distribution: Linux Mint 19.1 "Tessa" Cinnamon (64-bit)
 * GPU: `XFX Radeon RX 580 GTR 8GB`
   * Drivers: AMDGPU (`19.0.1+git1905091930.4b1753~oibaf~b`)
 * Snippet or attachment of ~/.cinnamon/glass.log [file is non-existent]
 * [xsession-errors.txt](https://github.com/linuxmint/cinnamon-spices-appl

[2019-06-12 01:34] Odyseus commented on #2448
Hello, @some-username-here1.

That's the expected output for your hardware. What you see in the screenshot from the Cinnamon Spices website for this applet is the output of an nVidia card, [which the applet gathers using the `nvidia-settings` command](https://github.com/linuxmint/cinnamon-spices-applets/blob/master/gputemperature%40silentage.com/files/gputemperature%40silentage.com/applet.js#L194)

[2019-06-12 02:02] some-username-here1 commented on #2448
Oh, thanks for the clarification. About the second thing, though, is that I don't mean it in having more than one instance of it, sorry for the confusion on that, but having it on the bottom taskbar instead of the top doesn't allow it to be shown when clicked on:
Top:
![image](https://user-images.githubusercontent.com/34193156/59318110-c45f7600-8c7a-11e9-9f0c-b8af887a56e0.png)
Bottom (I did try cl

[2019-06-12 02:25] Odyseus commented on #2448
No, it isn't intentional. What happens is that the applet code hasn't been updated (its functional parts at least) in more than three years. More than 6 mayor Cinnamon versions have existed since then. And a lot of changes in core functionality.

Your problem could be that the applet doesn't handle orientation changes (moving the applet from the top to the bottom). Try restarting Cinnamon after yo

[2019-06-15 06:27] cardsurf opened #2451 "Spices website: old versions of applets being downloaded"
Technical information:
Linux Mint 19.1
Firefox 67.0

Issue description:
When pressing `Download` button on Spices website old versions of applets are downloaded.

Steps to reproduce:
1. Download an applet from the Spices website in Firefox by pressing `Download` button.
2. Update applet code like [here](https://github.com/linuxmint/cinnamon-spices-applets/pull/2425).
3. Same as step 1.

Expected r

[2019-06-17 04:13] basilky opened #2453 "gmail@lauritsriple : Not working on Linux Mint 19.1"
[code]

**Notify author of applet**
@lauritsriple

**Issue**

Following message is shown after adding applet to the panel. I have installed all the required dependencies and given correct gmail username and password. I have checked active internet connection also.
![applet](https://user-images.githubusercontent.com/22705230/59578065-14f42a80-90e4-11e9-9ee4-78d7b61fc586.jpg)

[2019-06-17 04:28] basilky opened #2454 "sticky@scollins: High CPU usage"
[code]

**Notify author of applet**
@scollins

High CPU usage when "show shadow behind notes" option is turned on, and notes are visible. This is the CPU usage before enabling this option.
![Screenshot from 2019-06-17 09-53-47](https://user-images.githubusercontent.com/22705230/59578498-10307600-90e6-11e9-97d4-bc6a80fecc00.png)

This is the CPU usage when the option is enabled. Whole desktop feels

[2019-06-17 06:38] collinss commented on #2454
This is a known issue (please note that there is a tooltip for that setting explaining the issue). Unfortunately, there isn't much that can be done to fix the issue in the applet itself. It seems to be a problem with the toolkit and that is outside the scope of this project.

[2019-06-17 06:38] #2454 closed

[2019-06-17 15:10] claudiux commented on #2451
The json file https://cinnamon-spices.linuxmint.com/json/applets.json is not up to date. The Spices Update applet has 22 stars since last Friday (https://cinnamon-spices.linuxmint.com/applets/view/309), and only 20 are indicated in this json file.
![Capture du 2019-06-17 17-00-37](https://user-images.githubusercontent.com/33965039/59614718-928a5b80-9121-11e9-8171-9acbdb90a460.png)
Maybe a faulty s

[2019-06-17 16:07] cardsurf commented on #2451
@claudiux
When I download applets.json file it also shows `score: 20` for SpicesUpdate applet. So you are not alone with the issue.

[2019-06-17 23:26] lauritsriple commented on #2453
I am working on a new release with better error handling, but for now, could you try to run `seahorse` and see if your username and password has been added to the keyring? They should be under the default keyring with the description: mailnotifier. You can filter/search for this inside seahorse.

This error comes from the python script (getGmailFeedJson.py) either finding a blank or no password fr

[2019-06-18 00:30] claudiux commented on #2451
I think our problems have the same cause.

[2019-06-18 05:41] smurphos commented on #2451
This issue affects downloads / updates via the Cinnamon settings modules
as-well, and has been prevalent for at least a few months.  It takes a few
days for updated spices to be correctly downloaded.

On Tue, 18 Jun 2019 at 01:30, claudiux <notifications@github.com> wrote:

[2019-06-20 19:32] SonephetR2 commented on #2325
Great stuff, thanks!! (No bug with VLC on my system. A few icons flash until I rebooted Cinnamon and that's it!)

[2019-06-21 06:11] wrecklass commented on #2333
Using _bottom pane_ mode in _List_ view, every time the menu is opened the _bottom pane_ gets larger and larger until the menu itself is moved above the screen. The only way to reset was to click the _Grid_ view button if it was still on the screen. Going back to _bottom pane_ tips was then working, but the problem continues to happen.

[2019-06-21 07:01] basilky commented on #2453
I have enabled access for less secure apps and the issue is still there. I have checked seahorse and my Gmail username and password is available under the default keyring. I have installed the dependencies using apt and not using pip3. Does this create any issue?

[2019-06-21 23:20] lauritsriple commented on #2453
I can't think of any issues that can come of installed via apt instead of pip.

Which version of the python libraries are you using?

Can you provide python version of your default python?
`python --version`
Hopefully you will get output version which is python3, e.g python 3.7.3

Try the following to see that python can retrieve your password (change yourgmailusername to your gmail username. The

[2019-06-22 11:57] basilky commented on #2453
`python --version` gives `Python 2.7.15+`

Python 3 is also installed on my system and I can access it via `python3` command.

`python3 --version` gives `Python 3.6.8`

I think both versions are installed on Ubuntu 18.04 and I have to use `python3` to use python 3.

`python -c "import keyring; print(keyring.get_password('mailnotifier','mygmailusername'))"` gives following error

`Traceback (most r

[2019-06-22 13:30] jamikimaj opened #2457 "Temperature fevimu second temp"
[code]

Hello, I use temperature@fevimu.
If I point with mouse it show:

temp1: 56 °C        (gpu temp)
temp1: 37 °C        (cpu temp)
actual temp: 56 °C
critic temp: 105 °C

but on panel show 56 °C and I want to show the second number (with 37 °C here) .
What I have to change to show it?

[2019-06-22 14:01] #2457 closed

[2019-06-25 08:59] claudiux commented on #2451
@clefebvre : The json files containing the information about the xlets are not up to date. The service seems to have been down for at least 17 days.

[2019-06-27 14:41] t3pfaffe opened #2462 "cpu-monitor-text@gnemonix Applet creates way too much empty space that it will never use.."
### NON CRITICAL!

[code]

@gnemonix

**Issue**
 This applet creates a decent amount of space to its right that it will never even use.
![image](https://user-images.githubusercontent.com/16065962/60275507-953b3c80-98e9-11e9-9fe6-e5460e442eff.png)
   You can see it in comparison to mem-monitor-text@datanom.net

**Steps to reproduce**
 Placing this applet anywhere in a panel.

**Expected behaviour**

[2019-06-28 15:36] lauritsriple commented on #2453
I just tried from a fresh install. Ran the following after the install:
`sudo apt-get install python3 python3-keyring python3-feedparser`

Then I installed the applet, added my username and password. Created a keyring when prompted, and it seems to be working.

Mint 19.1
Cinnamon 4.0.8
Linux 4.15.0.20-generic

I am considering to change to Oauth2.

Please try:
`~/.local/share/cinnamon/applets/gmai

[2019-07-01 09:54] alicavus opened #2465 "weather@mockturtl: Extension is not compatible with current Cinnamon version"
[code]

**Notify author of applet**
@mockturtl

**Issue**
weather extension is not loading after last system update (pacman -Syyu)

**Steps to reproduce**
Load Cinnamon 4.2.0 and Install the latest version of weather applet if not is installed yet

**Expected behaviour**
Working extension that shows current weather
[lg.log](https://github.com/linuxmint/cinnamon-spices-applets/files/3344950/lg.log)

[2019-07-01 10:08] Gr3q commented on #2465
Yeah, I forgot to include 4.2 as a supported version.

I have a pr open with that, I'll bump the version number on it as well

[2019-07-01 12:55] JanaFlauschata commented on #2407
I had the same issue on Linux Mint 19.1 and managed to solve it with the tips from the [Cinnamon Spices site](https://cinnamon-spices.linuxmint.com/applets/view/131). So `sudo apt install sox` did the trick.

[2019-07-01 13:24] mubat opened #2466 "Add support `Ctrl+A` shortcut on search field on not English"
[code]
@jaszhix

It's impossible to erase not empty search field with `Ctrl+A` shortcut at not English keyboard layout.

[2019-07-01 16:29] mockturtl commented on #2465
Thank you both!

[2019-07-02 03:47] Zerophase opened #2467 "temperature@fevimu incompatible with Cinnamon 4.2"
[code]

**Notify author of applet**
@jaszhix

**Issue**
After updating to 4.2 CPU Temperature Indicator no longer loads.

**Steps to reproduce**
1. Upgrade to Cinnamon 4.2
2. Install CPU Temperature Indicator
3. logout and back in
4. Receive error message about applets failing to load.

**Expected behaviour**
Applet loads

**Other information**
Also applies to multicore-sys-monitor@ccadeptic23, an

[2019-07-02 07:39] schinfo commented on #2467
vpnLookOut@claudiux has the same problem with Cinnamon 4.2

[2019-07-02 08:09] D1ceWard commented on #2467
I added `4.2` version to cinnamon-version in `metadata.json`, seems to work fine. Pull request coming
[code]

[2019-07-03 22:47] couraudt opened #2470 "multicore-sys-monitor@ccadeptic23: Extension is not compatible with current Cinnamon version"
[code]

**Notify author of applet**
@ccadeptic23

**Issue**

 extension is not loading after last system update (pacman -Syyu)

[code]

**Steps to reproduce**

 Load Cinnamon 4.2.0 and Install the latest version of weather applet if not is installed yet

**Expected behaviour**

 Working extension that shows monitor in taskbar

**Other information**

Just add new cinnamon version 4.2 into the `meta

[2019-07-04 05:27] basilky commented on #2453
`~/.local/share/cinnamon/applets/gmail@lauritsriple/getGmailFeedJson.py gmailusername`

gives the following error

`{"info": "Search the web or create issue on git", "error": "Python can't import FancyURLopener from urllib.request"}`

[2019-07-04 05:47] basilky commented on #2453
Found the cause of this issue. My Gmail password contained a question mark and this was causing issues with feedparser. I have changed my password and the extension is working fine now.

[2019-07-09 19:15] odelucca commented on #2470
Same issue happens on the Cinnamenu applet.

[2019-07-10 12:12] ClovisGauzy opened #2475 "ScreenShot+RecordDesktop@tech71: visible selection"
* Applet version/Build date 2018-11-05
 * Cinnamon version 4.2.0
 * Distribution: Manjaro Linux
 * GeForce GTX 1050 / video-nvidia 430.26

**Notify author of applet**
@icarter09

**Issue**
With "Selected Area", the area selection border and semi-transparent fill-in color is visible on capture.

**Steps to reproduce**
Use "Selected Area", select area to capture

**Expected behaviour**
Clean capture

[2019-07-14 19:37] olimexsmart opened #2476 "mem-monitor-text Inconsistent RAM occupation"
Hi to everyone, on my system the RAM percentage displayed by the applet is different than the one I can find in System Monitor.

Specifically, the value displayed by the applet is lower (around 15%-20%) than the one in System Monitor.

To understand which of the two value was wrong, I disabled swap and then I started opening tabs until Firefox crashed. It crashed when in System Monitor RAM was at

[2019-07-18 08:32] maustrap commented on #2395
I had the same problem on Ubuntu 19.04, but I found restarting cinnamon solved it.

[2019-07-20 21:30] PieFaceThrowsPie opened #2481 "[show-hide-applets@mohammad-sn] Add option to make arrow icon point vertically"
[code]

**Notify author of applet**
@mohammad-sn

**Issue**
Minor feature request. I made my Cinnamon panel vertical (placing it on the left side of the monitor) and this applet functions perfectly.

However, it would be nice to have a setting (a toggle switch with the other configuration options, perhaps) to rotate the arrow icon so it points down when applets are hidden, and up when shown. Curre

[2019-07-21 21:43] claudiux commented on #2451
@cardsurf: This issue seems solved: https://github.com/linuxmint/cinnamon/issues/8712.

[2019-07-21 21:52] claudiux commented on #2360
@Fabian42 A PPA exists to obtain the latest version of Cinnamon (4.2.2 at this time).
[code]
Please, can you tell me if any of these solutions worked for you, or close this issue?

Regards.

[2019-07-21 23:40] Fabian42 commented on #2360
[code]

[2019-07-22 02:29] claudiux commented on #2360
Try this:
[code]
The first line removes the key of this PPA out of your database.

The second line imports this key from the Ubuntu key server.

[2019-07-22 13:16] Fabian42 commented on #2360
Nope. Are you sure you're not giving me instructions for Ubuntu? I'm using
Debian.

fabian@debian:~$ sudo apt-key del 19C9F090A95304B8
OK
fabian@debian:~$ gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-key
19C9F090A95304B8 && (gpg -a --export 19C9F090A95304B8 | sudo apt-key add - )
gpg: WARNING: unsafe permissions on homedir '/home/fabian/.gnupg'
gpg: key 19C9F090A95304B8: public key "Launch

[2019-07-22 17:08] claudiux commented on #2360
@Fabian42 OK, I'm installing a new Debian with Cinnamon in a virtual box. I will test all that.

[2019-07-22 22:38] claudiux commented on #2360
@Fabian42 The best way is to upgrade your Debian  from version 9.8 (stretch) to version 10 (buster): https://linuxconfig.org/how-to-upgrade-debian-9-stretch-to-debian-10-buster

Cinnamon 3.8.8 will be installed.

Previously, remove the key and the list of linuxmint-daily-build-team:
[code]

[2019-07-22 23:02] Fabian42 commented on #2360
That seems to be a complicated process with many risks. I'll wait until the
official release.

On Tue, 23 Jul 2019, 00:38 claudiux, <notifications@github.com> wrote:

[2019-07-23 02:40] claudiux commented on #2360
The official release of Debian 10.0 is here: https://www.debian.org/

The detailed method to upgrade from Debian 9 is here: https://www.debian.org/releases/buster/mips/release-notes/ch-upgrading.en.html

[2019-07-23 16:09] cardsurf commented on #2451
@claudiux Unfortunately I think that the issue is still present.
Yesterday I downloaded Spices Update applet using the steps I described when the [pull request](https://github.com/linuxmint/cinnamon-spices-applets/pull/2482) was opened.
Today the pull request is merged into master. Then I download the applet again with `Download` button I get cached version. `metadata.json` file still has `"versio

[2019-07-23 20:31] Fabian42 commented on #2360
That still seems like a major task. I'll wait until I have more time. I don't need this applet that badly. Thanks for your help so far!

[2019-07-23 22:08] claudiux commented on #2360
OK. Then, can you close this issue, please? You can re-open it if needed.

Regards.

[2019-07-23 22:37] #2360 closed

[2019-07-23 23:16] claudiux commented on #2451
@cardsurf Ok, I see. If you use the Download button, which link to https://cinnamon-spices.linuxmint.com/files/applets/SpicesUpdate@claudiux.zip, then a cached version of this zip file is downloaded.

But, if you add a question mark at the end of this URL, that forces the server to send the latest version: https://cinnamon-spices.linuxmint.com/files/applets/SpicesUpdate@claudiux.zip?

@clefebvre I

[2019-07-23 23:19] claudiux commented on #2360
Thank you, @Fabian42.

[2019-07-25 08:00] bjo81 opened #2487 "localipswithsettings@edaubert: Add support for hiding LinkLocal/ULA addresses"
It's some kind of annoying the applet does not show the Public IPv6 as it shows the other "less relevant" IPv6 addresses. At least, an option for hiding these addresses would be nice.

[2019-07-26 22:13] brownsr commented on #2487
@edaubert

For your information

Regards

Simon

[2019-07-27 10:33] edaubert commented on #2487
There is an option to hide all IPv6 addresses in the configuration options.

![localips](https://user-images.githubusercontent.com/588130/61993290-e154da80-b069-11e9-8747-66279fed4b4b.png)

Is that what you need ?

[2019-07-29 08:21] mubat opened #2491 "[gputemperature@silentage.com] Cinnamon freezing every 4-5 second while using applet"
* Applet version/Build date: v.2.0.0
 * Cinnamon version: 4.0.10
 * Distribution: Mint 19.1
 * Graphics hardware: Nvidia GeForce GTX1060 with Nvidia drivers 430.26
 * [.xsession-errors](https://github.com/linuxmint/cinnamon-spices-applets/files/3440978/xsession-errors.txt)

**Issue**
All system freezing every 4-5 seconds when I use this applet. If I disable it, system continue freezing till restar

[2019-08-01 07:49] pdcurtis commented on #2349
@a-bentofreire Sorry I took so long but you did not put me as author in the issue comment so I only found it by chance. Issues do not automatically get to the author, a poor feature of Github.

Extra instances can be added from the Applets in the Control Centre (The + at the bottom of Manage Tab). The latest versions of Cinnamon do not offer adding and removing within Configure dialogue from the r

[2019-08-01 11:50] VandenBergh opened #2498 "sshlauncher:no scrolling bar and window getting too high..."
Hi,
I am using "sshlauncher" on Linux Mint 19.1 with Cinnamon. I have updated the system and I am using the applet "spice update" to keep all the applets, desk-lets, extensions and themes up to date.
When you add many entries (in my case 40) in the ~/.ssh/config file, the window of sshlauncher becomes too high to be seen on the screen. There is no scrolling bar and the two switches are no longer a

[2019-08-01 18:27] Hultan commented on #2393
I have looked at the code right where it happened, and that is code that is executed every time the applet is initiated when Cinnamon starts up. It is complaining about a javascript function Array.fill() that should exist without any problems, and it does obviously for almost everyone. If it is not, like in your case, I can only assume that Cinnamon has not started up correctly for some reason, an

[2019-08-01 18:47] Hultan commented on #1708
@attila123 , I just added a scale factor setting to this applet, which might make it somewhat more usable in a vertical panel, when set to the lowest value (1.0). I am not sure when that will be available to you, but try it out when you can.

I like your suggestion for full vertical panel support, by showing the graphs over each other, so I might give that a try. I am assuming that you want the gr

[2019-08-02 05:07] Nokia808 opened #2500 "[text-to-speech-applet@cardsurf] Please give support for espeak-ng engine"
[code]

**Notify author of applet**

@cardsurf

**Issue**

Hi. I'm a Fedora Linux user. I use Fedora Linux 30 X64 bit Cinnamon edition. I installed your applet & activated it, but it show me error message said what mean:

"There is missed package. Please install espeak package"

Dears, on Fedora 30, espeak is not used by default & it is already replaced by new tts engine which is "espeak-ng" that

[2019-08-02 07:34] a-bentofreire commented on #2349
Hi,
Thank you for the reply.
After mutter for a while, I reproduce the solution.
Yes, it works but it's quite an awkward solution.

Regarding the error message, yes, I still see it using Cinnamon 4.0.10 which it's up to now the latest stable version. Cinnamon 4.2 is still in BETA. The stable version will be release soon.

[2019-08-02 07:34] #2349 closed

[2019-08-02 17:08] VijitCoder opened #2502 "batterymonitor@pdcurtis: applet doesn't track the battery when I switched to another user"
* Applet version/Build date 1.3.7 2019-04-14
* Cinnamon version 4.0.10
* Distribution - Mint 19.1

**Notify author of applet**

@pdcurtis

**Issue**

Applet doesn't track the battery at all, when I switched to another user.

![Screenshot from 2019-08-02 23-28-04](https://user-images.githubusercontent.com/8523131/62386791-09b96900-b583-11e9-9a3a-2e077fd03f97.png)

_On the screenshot above: the real

[2019-08-03 15:58] jkirk commented on #2393
Hi @Hultan, thx for taking time and looking into it.

I just updated the the applet to https://github.com/linuxmint/cinnamon-spices-applets/commit/bad1c72124614c262a0092aab8bc8181c77ce4b2 and still get the same error. After fiddling around a bit I ended up removing `.fill(0)` from that [line](https://github.com/linuxmint/cinnamon-spices-applets/blob/master/hwmonitor@sylfurd/files/hwmonitor@sylfurd

[2019-08-03 16:03] ThunderCatBH opened #2507 "CinnVIIStarkMenu@NikoKrause: Linux Mint 19.2 Tina not compatible"
[code]

**Notify author of applet**
@

**Issue**

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2019-08-03 16:12] Hultan commented on #2393
Hi @jkirk,

I did not write this plugin originally, I started to add some functionality to it only a few days ago. I think the original author have left the scene, so to speak. At least, I have not heard from him/her...

About the constructor error, I think that you are right: The fill(0) part and the loop following seems to do the same thing. So it can probably be removed, like you suggested:

[2019-08-03 16:35] pdcurtis commented on #2502
This strange behaviour had a simple cause. I was using two temporary files in /tmp which had the wrong permissions when switching users. I have now moved them to the home folder so each applet is totally independent.

I have always logged out then into a new user so I missed it - I have never trusted switching with encrypted folders but you forced me to test it out!

NOTE: you will need to update

[2019-08-03 18:51] Hultan commented on #2393
Hello @jkirk,

I just created a new Pull Request that allows for the applet to work in a vertical panel. At the same time I removed the .Fill(0) as we spoke of earlier. Try this version and hopefully it will work better for you.

Please do come back with your Cinnamon version anyway, I want to understand why that bug occurs for you, but not for me. The Cinnamon version might be the reason behind t

[2019-08-03 18:55] Hultan commented on #1708
I have just made a Pull Request with a working vertical mode. I would appreciate if you tried it out and come back with the result here, so that this issue can be closed.

Ps. you can adjust the height of the graphs in vertical mode in the configuration screen.

[2019-08-03 19:05] #2502 closed

[2019-08-03 19:15] Hultan commented on #2371
I have managed to replicate this bug, on my computer though it took 10 seconds or so, and then it worked correctly again (without restarting Cinnamon). I will look into this and see if there is anything that can be done to fix this, or if it is just a result of the computer being busy after the suspend?

[2019-08-03 19:50] Nokia808 opened #2510 "[batterymonitor@pdcurtis] This applet fails to launch after update to Cinnamon 4.2.2 !"
[code]

**Notify author of applet**
@pdcurtis

**Issue**

I received update to my system involved upgrade to Cinnamon 4.2.2
After upgraded Cinnamon, this applet fails completely to launch ! I received error message said what mean that some applet, desk-let, extension failed to launch ...
After investigation & detect that this applet is the cause of that message.

**Steps to reproduce**

I'm alread

[2019-08-03 19:55] Nokia808 commented on #2197
@Shatur95
This is just a reminder about this issue. If you have time & facility to fix this issue, then please do not forget to do it.

Thank you.

[2019-08-03 20:04] Nokia808 commented on #2510
Update: I just update applet to new version (1.3.8) & it worked ! I will close this issue.

[2019-08-03 20:04] #2510 closed

[2019-08-03 20:06] Shatur95 commented on #2197
Sorry, but as I pointed out above, I no longer use Cinnamon :(

[2019-08-03 20:39] Nokia808 opened #2511 "[batterymonitor@pdcurtis] Persistent notification about "User difined alarm sound selection" !"
[code]

**Notify author of applet**
@pdcurtis

**Issue**
I received new version of this applet. I tried to investigate it's setting if something changed. I saw sound alarm for low battery level was disabled though I'm already enabled it since very long time (on old versions). So, I suspect that this is due to new version update. Then I enabled it. After enabling this option, Cinnamon started to di

[2019-08-04 15:05] Hultan commented on #2371
@tcuje , I just added a restart function in the popup menu. Choosing **Restart 'Graphical hardware monitor'** solves the problem on my machine at least, can you see if it works on your machine after a suspend?

 A better solution would of course be if the applet restarted automatically after a suspend, but I don't know what event to subscribe to, or if such event even exists.

[2019-08-04 16:18] pdcurtis commented on #2511
@Nokia808 This is not an error, it is a feature and it is quite deliberate that one is reminded every start up.

The only point in an audible alert is to attract attention when one is away from the machine otherwise the modal alert stops you doing anything. It has to be a sound that is loud, long and attention grabbing. The one I use personally is a sound file I found for which is used somewhere f

[2019-08-04 17:07] claudiux commented on #2451
For cinnamon-settings, https://github.com/linuxmint/cinnamon/pull/8746 solves this issue.

For the Download button of the Spices web site, the problem is still present:
![Capture du 2019-08-04 18-58-59](https://user-images.githubusercontent.com/33965039/62426849-8adf4000-b6ea-11e9-886f-233763dbe15c.png)
You can see that this applet was updated 22 hours ago and that the downloaded zip file is 6 mon

[2019-08-05 12:11] Nokia808 commented on #2500
Hi. Great work ! I receive new version & I changed the command from:
"espeak -ven+m5 -a 100 -p 50 -s 175" (the default command) into:
"espeak-ng -ven+m5 -a 100 -p 50 -s 175" & it worked !

Just if you can help me further: does what I did by change espeak" to "espeak-ng" is correct ? What about other parameters: "-ven+m5 -a 100 -p 50 -s 175" ? Leave them without change ? Are they compatible with es

[2019-08-05 12:13] Nokia808 commented on #2511
@pdcurtis
I agree with your plan for future version to add new option to mute this notification if user wish to this.
I will wait your next version.
Thank you for your care !

[2019-08-05 12:25] Nokia808 opened #2519 "[text-to-speech-applet@cardsurf] 2 time clicks on hot key for "Reading" needed to work after "Pause" hot key clicking"
[code]

**Notify author of applet**
@cardsurf

**Issue**
I assigned F1 key as a "Pause" hot key & F3 as a "Reading" hot key.
"Pause" key working without problem.
"Reading" key work without problem if I use it WITHOUT privious use of "Pause" key - just one click on F3 & applet start to work & read okay.
But if I use "Pause" key (in my case F1), then click "Reading" key (F3) the F3 will not work to

[2019-08-05 14:26] leonzon opened #2520 "configure to monitor wireguard connection"
is it possible to configure to monitor a wireguard vpn?
thank you

[2019-08-05 15:01] pdcurtis commented on #2511
@Nokia808 i think this addresses your concerns and also enables a wider range of audio file formats to be used.

Can you please check on your machine  - on mine the enhanced widget selects .mp3 files but the play button does not work for .mp3 but does for .oga . It seems to be a Cinnamon issue as the enhancement is new and is only available on 4.2 so I may be the first user.

[2019-08-05 16:37] cardsurf commented on #2500
@Nokia808 Changing from `espeak` to `espeak-ng` is enough. According to [`espeak-ng` project README.md](https://github.com/espeak-ng/espeak-ng#espeak-compatibility) file the command line arguments are compatible with `espeak` command:

[2019-08-05 16:40] cardsurf commented on #2519
@Nokia808  Sounds like a good suggestion. I will take a look at it this week.

[2019-08-05 19:04] #2519 closed

[2019-08-05 21:35] claudiux commented on #2520
Hi @leonzon,

Please, when you open an issue, mention the author in the message (@claudiux for me) and write the name of the applet in the title, as : `[vpnLookOut@claudiux] configure to monitor wireguard connection`.

This applet uses NetworkManager to manage connections. Mint 19.2 contains a version of NetworkManager (1.10.14) that does not support wireguard connections.

A plugin has been devel

[2019-08-06 05:49] #2500 closed

[2019-08-06 05:50] Nokia808 commented on #2519
Hi. I received new version & test it. The issue is still existing & not fixed yet ! Please re-open this issue.
Best.

[2019-08-06 07:36] leonzon commented on #2520
Hithank you for replying. In future I will use that methoed of contact.I will try out that applet.Peter

    On Monday, August 5, 2019, 10:35:05 PM GMT+1, claudiux <notifications@github.com> wrote:

Hi @leonzon,

Please, when you open an issue, mention the author in the message (@claudiux for me) and write the name of the applet in the title, as : [vpnLookOut@claudiux] configure to monitor wiregua

[2019-08-06 16:26] cardsurf commented on #2519
@Nokia808 It's working as expected on my system. Can you check what version of applet do you have installed ? To check the version right click on the applet and choose `About` from the context menu.

[2019-08-06 18:23] Nokia808 commented on #2519
@cardsurf
Sorry for this error, it is still 1.3.0 ! It seem that I received update for other applet (or theme) & confused it with this !

[2019-08-07 09:15] bjo81 commented on #2487
@edaubert No :)

![Bildschirmfoto vom 2019-08-07 11-13-34](https://user-images.githubusercontent.com/1674578/62610729-83937e80-b904-11e9-86a0-d936640fe683.png)

I mean the fe80::-address as it would take also some space.

[2019-08-07 20:57] My-Random-Thoughts commented on #2491
Same issue on Cinnamon 3.8.8 with Ubuntu 19.04.
A ALT+F2 then "r" fixes the problem, mostly.

[2019-08-10 02:40] jkirk commented on #2393
Hi @Hultan!

My Cinnamon version is 3.2.7 (as stated in the facts of this issue),

I updated the applet to https://github.com/linuxmint/cinnamon-spices-applets/commit/1c895ee04f67cdd757da9977af1cfa5cddf1e2f8 and adding the applet works without problems. :tada:

So technically this issue is now resolved for me. But yes, I am still curious why this error is/was seen on my system and not on others (e

[2019-08-10 06:40] Hultan commented on #2393
Haha, I am sorry, you DID mention your Cinnamon version in your first post. My bad...:-)

Even though I personally have only used Cinnamon 4+ (new to Linux), I do know that something big probably happened around 3.2. Many applets do contain checks if the Cinnamon version is at 3.2, and then do things differently. I have not looked in to what they do differently though, but fill() could be on thing

[2019-08-10 12:23] Odyseus commented on #2393
Hello, everybody.

@Hultan & @jkirk: It doesn't depend so much on the Cinnamon version, but on the version of the JavaScript engine (SpiderMonkey/libmozjs) a Cinnamon version is tied to. If I remember correctly, Cinnamon 3.2.x is still tied to SpiderMonkey 24. And in SpiderMonkey 24 `Array.prototype.fill()` doesn't exist (it was introduced in [Firefox 31](https://developer.mozilla.org/en-US/docs/W

[2019-08-10 12:39] Hultan commented on #2393
Thanks @Odyseus for the clarification. I think that settles it then, that would explain why @jkirk got this error. I think this issue can be closed now, I don't have permission to do so...

[2019-08-10 12:59] jkirk commented on #2393
@Odyseus: Cool! Thx for that explanation. And yes, JFTR, Debian/stretch comes with `libmozjs v24`:
[code]
Thx for the link on how to check in which version a JS-function is implemented. This way it makes some things much easier to debug.

(I can close the bug. Will do so now. :smiley:)

[2019-08-12 01:03] claudiux commented on #2360
@Fabian42 Please try the latest version of Spices Update (3.0.0).

[2019-08-12 10:15] Fabian42 commented on #2360
It works! \o/

[2019-08-12 11:07] jimthedj65 commented on #2507
In my 19.2 looking glass I found the following
rror t=2019-08-12T12:54:54Z [CinnVIIStarkMenu@NikoKrause]: Extension is not compatible with current Cinnamon version

warning t=2019-08-12T12:57:19Z [CinnamonDBus] [CinnVIIStarkMenu@NikoKrause] Unable to find UUID from SettingsManager - this is likely due to configuring settings from a removed xlet.

warning t=2019-08-12T12:57:26Z [CinnamonDBus] [Cinn

[2019-08-12 14:23] mubat opened #2531 "[IcingTaskManager@json] Need to add support for Linux Mint 19.2 tina"
[code]
@jaszhix, сan't use applet on Linux Mint 19.2

[2019-08-12 16:25] claudiux commented on #2360
@Fabian42 The version 3.0.1 (PR #2532) fixes this issue. If Spices Update suits you, please add a star on its page: https://cinnamon-spices.linuxmint.com/applets/view/309. Thank you.

[2019-08-12 18:40] #2507 closed

[2019-08-18 16:49] mahtiankka opened #2536 "Finnish translation attached"
Finnish translation fi.po attached. I hope it is available.
![suomi](https://user-images.githubusercontent.com/48694735/63227621-006e0480-c1f1-11e9-948d-c8b8efc84713.png)
[fi.po.zip](https://github.com/linuxmint/cinnamon-spices-applets/files/3513305/fi.po.zip)

 * Cinnamon version (Cinnamon 4.2.3)
 * Distribution - (Mint 19.2)

[2019-08-18 17:44] claudiux commented on #2536
Hi @mahtiankka,

Thank you for your Finnish translation of Spices Update messages!

You can open a PR (Pull Request) to propose it. Here a How-To: https://github.com/claudiux/docs/blob/master/HOW_TO_MAKE_A_CLEAN_REFORK.md

If you prefer, I can use you fi.po file to make myself a PR.

Regards.
Claudiux

[2019-08-18 22:03] claudiux commented on #2536
@mahtiankka I see you do not have a fork of cinnamon-spices-applets. You can use this Github method:

- Fork https://github.com/linuxmint/cinnamon-spices-applets
- In your fork, create a branch from the master one that you name `SpicesUpdate-fi`.
- In this branch, go into `SpicesUpdate@claudiux / files / SpicesUpdate@claudiux / po`.
- Add your file `fi.po` (not the zip file) and submit it with the

[2019-08-18 22:29] #2536 closed

[2019-08-20 00:22] Fifis opened #2538 "[temperature@fevimu] Applet width jumping on `High` and making the Grouped window list jump"
[code]

**Issue**
Unwanted behaviour: after reaching 80°, the taskbar (and all window indicators) starts dancing like crazy because of the ‘High’ text appearing and disappearing after every refresh during the fluctuation.

**Steps to reproduce**
When the temperature gets high or critical (very frequent if projects such as BOINC are running) and then stops around that level.

**Expected behaviour**

[2019-08-21 08:50] dikonov opened #2539 "Terminal window won't open"
I configured .ssh/config and can see the hosts in the menu. The hosts are up and I can connect by using ssh XXX command. Key auth is set in ssh, so I do not have to enter passwords. Gnome-terminal is installed and runs fine.

However, when I select a host in the applet menu, no terminal window opens. Is there a setting to select, what application should be run?

[code]

**Notify author of applet**

[2019-08-23 08:22] olimexsmart commented on #2476
Being tired with it, I fiddled around with the code and found the solution.

`    _update: function() {
        try {
            GTop.glibtop_get_mem(this.gtop);
            this.maxmem = this.gtop.total;
            this.user = this.gtop.user;

            let percent = Math.round((this.user * 100) / this.maxmem);
            this.set_applet_label(this.mem_label + " " + percent.toString().slice(

[2019-08-23 09:38] brownsr commented on #2476
A pr would be great. If the git side is unfamiliar I put a very simple
primer in the reader of the cinnamon spices themes repo

On Fri, 23 Aug 2019, 09:22 Luca Olivieri, <notifications@github.com> wrote:

[2019-08-23 13:58] olimexsmart commented on #2476
I'm on it. Git is not a problem.

Since I don't have write permission to push a new branch for the Pull Request, is forking the default procedure?

[2019-08-23 15:04] brownsr commented on #2476
Yes

On Fri, 23 Aug 2019, 14:58 Luca Olivieri, <notifications@github.com> wrote:

[2019-08-24 12:01] claudiux opened #2542 "Why have some Spices lost stars ???"
**Issue**
Two of my applets have lost stars:

- [vpnLookOut@claudiux](https://cinnamon-spices.linuxmint.com/applets/view/305): -1 (from 8 to 7)
- [sound150@claudiux](https://cinnamon-spices.linuxmint.com/applets/view/306): -6!!! (from 7 to 1)

**Expected behaviour**
Respecting the work and efforts of the developers, do not remove any star anymore.

**Other information**
I'm working on a version of

[2019-08-24 21:18] #2465 closed

[2019-08-25 02:32] smurphos commented on #2542
@claudiux I believe stars expire after 1 year, albeit it needs someone to give a star for the count to adjust down to reflect the expired stars. I don't really like this behaviour either, as I think the star system is relatively hard to discover for new users. In an ideal world I'd like end users to be able to give stars directly from the relevant Cinnamon settings modules, or a mechanism to be in

[2019-08-25 23:33] smurphos opened #2545 "[SpicesUpdate@claudiux] - fails to import Cinnamon 3.6.x"
@claudiux

Apologies for the incomplete report. I'm raising this on behalf of a non GitHub using Mint forum member and am away from home at the moment so not able to test/reproduce myself.

The user who is on Mint 18.3 is suffering an import error following a recent update to the applet

https://forums.linuxmint.com/viewtopic.php?p=1676730&sid=aebd7d1c0de5642e110abad97dbca1e5#p1676730

[2019-08-25 23:39] claudiux commented on #2545
Thank you @smurphos. I will check this bug.

[2019-08-26 00:15] claudiux commented on #2545
Bug found!!! Just a typo! Grrr.

I will make immediately a new PR.

While waiting for the next update, completely uninstall the applet, then reload it and **before installation** change the line 1050 of the file ~/.local/share/cinnamon/applets/SpicesUpdate@claudiux/2.8/applet.js
from:
`  }; // End of check_dependencies`
to:
`  }, // End of check_dependencies`

Then, install Spices Update on the pa

[2019-08-26 07:52] #2545 closed

[2019-08-26 17:46] Knezev opened #2549 "weather@mockturtl: update sr.po"

[2019-08-26 17:47] #2549 closed

[2019-08-26 17:50] ghost opened #2550 "mailnagapplet@ozderya.net: update sr.po"

[2019-08-26 17:52] ghost opened #2551 "weather@mockturtl: update sr.po"

[2019-08-27 06:29] basilky opened #2556 "sticky@scollins: Google keep integration"
It was better if the sticky notes extension was able to sync with Google keep. This will make it possible to edit the note/checklist created using the applet on other devices also.

[2019-08-27 22:22] claudiux commented on #2520
Hi @leonzon,

Finally this issue concerns NetworkManager, but not this applet. Can you close it, please?

Regards.
Claudiux

[2019-08-28 06:34] #2520 closed

[2019-08-31 19:56] Hultan commented on #1708
@jashix This issue can be closed now, it now works in vertical panels...I don't seem to have permissions to close the issue.

[2019-08-31 19:59] Hultan commented on #2371
@brownsr I think this issue can be closed now, I don't have permission to do so. If I ever find a way to make it work automatically I will implement it, but for now, a manual approach will have to do.

[2019-09-01 10:04] claudiux commented on #2371
@Hultan I have found a solution to this problem.

After a wake up, the delta value in the get_data() function becomes "highly negative". The solution is to store the previous value of delta and to restore it when delta becomes lesser than -50000.

[code]

I will make a PR.

[2019-09-01 10:11] Hultan commented on #2371
Awesome! Fantastic news.../Hultan

[2019-09-01 10:12] #2371 closed

[2019-09-01 10:47] claudiux commented on #1708
Fixed by #2509.

[2019-09-03 15:28] snhv opened #2565 "[CinnVIIStarkMenu@NikoKrause]: change quit menu order"
[code]

**Notify author of applet**
@NikoKrause

**Issue**
Hi, I love your Stark Menu. Can you add an option to change the order of the Quit menu please? Personally I like to have Lock Screen -> Logout -> Quit from top to bottom, instead of the reverse order as of right now. Thank you.

[2019-09-04 11:05] plaihonen opened #2566 "Dual battery configuration ignored"
[code]

**Notify author of applet**
@

**Issue**
Second battery in the system is ignored. When the first battery runs out, the system shutdown warnings and process is being initiated.

**Steps to reproduce**
Wait for the first battery run out of power

**Expected behaviour**
Include information about both batteries, and only when the last battery is running out of power, initiate the specified shu

[2019-09-14 19:47] Hultan opened #2581 "Feature request: spices-notifier@germanfr : Adding uuid:s manually"
**Notify author of applet**
@germanfr

**feature request**
After having debugged the applet for a while I realized that you can only get this applet to work if you are the actual author of the app. I would like to follow a couple of applets that I have helped with but am not the author of, so I hard coded it like this (row 267):

			if (xlet.author_user.toLowerCase() === username || uuid=='hwmonit

[2019-09-15 13:10] Hultan commented on #2581
I just want to add that at least I would like to follow the discussions around the applets I use, even if I am not the author of them. So I definitely think that there should be a way to follow applets that you are not the author of.

[2019-09-17 16:16] Pandiora commented on #2332
Ah well, I noticed this too lately. Could you tell me which apps are in your systray after startup?

[2019-09-18 06:04] smurphos commented on #2332
Right now only google-chrome and the HPLIP systray icon are running on startup.

![screenshot-screen-2019-09-18-070031](https://user-images.githubusercontent.com/29017677/65117616-12a2b480-d9e2-11e9-86e8-e2986bb6e24b.png)

This is what i get in xsession-errors on iniital login as the applet loads. Indicator support is currently disabled.

[code]

[2019-09-18 13:58] Pandiora commented on #2332
I got this xsession-errors too and hoped you got them (I'm assuming) like me, by running teamspeak, but this doesn't seems to be the case. Currently I can't reproduce this error anymore, BUT the same error appears by using Grouped Window Lists and i.e. closing an applet window, which never were in the foreground and thus no thumbnail got rendered.

The message clearly states something (an icon) go

[2019-09-19 05:57] smurphos commented on #2332
Hi,

I've actually reinstalled Cinnamon on a fresh machine since posting the original issue and set up the applet from scratch. The start-up errors are consistent on every login or Cinnamon restart and are reported prior any systray icons loading. The applet is trying to populate it's menu of currently inactive icons when it's producing the errors.

Expanding the applet's menu also produces differ

[2019-09-19 06:08] smurphos commented on #2332
With Indicator support on with Cinnamon 4.2 I'm no longer getting the errors on hide/show icons. But there are other breakages - Chrome's icon does not display with Indicator support on and the nm-applet icon doesn't deactivate as it should with the network manager applet installed, but also doesn't actually display an icon. Whether this is an applet or a Cinnamon issue I'm unsure. I'll test with

[2019-09-19 12:23] Pandiora commented on #2332
Depending your second comment: NM-Applet works without problems for me, chrome/chromium probably too, but I'm not using it. Did you tried to move the nm-applet to collapsible-systray? Spoiler: I think this will cause problems since this feature isn't fully implemented yet. Currently I'm using both systray-applets. I didn't added applets like nm, sound, power, energy-control and  screenshot+recorde

[2019-09-19 23:05] Mintulix commented on #2209
Hi  @mohammad-sn @jaszhix , I just had time and managed to fix all looking glass entries, and still everything seems to work :-). Should I make a pull request with the changed applet.js?

[2019-09-21 06:28] smurphos commented on #2332
I think you misunderstand. Network Manager provides a systray icon. The network manager applet if active on a panel should hide the systray icon (i.e in collapsible systray it should be listed as inactive). That appears to be broken with collapsible systray in 19.2 but only with indicator support on. The netroek manager systray icon is listed as active, but just displays a space. This doesn't appe

[2019-09-21 17:39] Pandiora commented on #2332
Ah well, you're right, I didn't noticed so far. I deactivated my nm-applet now, but didn't got errors.  I will test this further and see if some errors occur later.

[2019-09-23 20:35] Mintulix opened #2589 "[disk-read-and-write-speed@cardsurf] Shows always 0B with kernel 5.x"
* Applet version 1.0.1
 * Cinnamon version 4.2.4
 * Distribution - Mint 19.2
 * Snippet or attachment of ~/.cinnamon/glass.log
number.toFixed is not a function

**Notify author of applet**
@cardsurf

**Issue**
- When using kernel 5.0.0.29-generic or 5.3.0-050300 the applet always shows 0B for up- and download.
- Looking glass log lists "number.toFixed is not a function".

**Steps to reproduce**
Us

[2019-09-23 20:54] edaubert commented on #2487
Sorry again for the late response.

But again, the option `Display IPV6 information` allows me to hide this kind of stuff.

In my case, the IPs I got on the applet are those I can see when using `ifconfig -a`
If I choose to hide the IPv6 information, then the IPs like `fe80-` are  hidden.

In addition I only display specific interfaces because I use a lot docker container so many network interface

[2019-09-25 04:24] Fabian42 opened #2590 "[download-and-upload-speed@cardsurf]: Minimum update time is 0 and freezes system"
[code]

@cardsurf

**Issue**

The setting "calculate every…" can be set to 0 seconds. This causes the applet to try an infinite amount of retries instantly, freezing the system. VLC is still able to play sound, so it might just be Cinnamon that's frozen. Removing the applet's folder using the command line mode of the system and rebooting is necessary to restore normal behaviour.

**Expected behavi

[2019-09-25 09:31] Inilien opened #2591 "temperature@fevimu throws error `entries[(entries.length - 1)] is undefined`"
* Applet version/Build date (to be found in "About.." or in "metadata.json") `"last-edited": 1568625484`
 * Cinnamon version (cinnamon --version) `Cinnamon 3.6.6`
 * Distribution - (Mint 17.2, Arch, Fedora 25, etc...) `Linux Mint 18.3 Sylvia`
 * Graphics hardware *and* driver used
[code]
 * Snippet or attachment of ~/.cinnamon/glass.log
[code]
 * Snippet or attachment of ~/.xsession-errors
[code]

[2019-09-25 14:18] cardsurf commented on #2589
The issue is related to changes in [diskstats](https://www.kernel.org/doc/Documentation/ABI/testing/procfs-diskstats) file format in Kernel 4.18+.
I will work to add support of it this week.

[2019-09-25 15:00] okaestne commented on #2531
Is there a reason that you are not using the default "grouped window list" applet (a fork from ITM with lots of improvements by Mint)?

[2019-09-25 15:07] mubat commented on #2531
@okaestne no, there is not.
I used IcingTaskManager instead of default manager because it has <Super> shortcuts support. Maybe default applet didn't support them earlier, so I used IcingTaskManager.
Thank you for enlighten me.

[2019-09-25 17:52] Mintulix commented on #2589
Great, thank you!

[2019-09-25 21:59] claudiux commented on #2591
@Inilien
What is the output of the command: `sensors` ? Also try the command: `sudo sensors`.

[2019-09-25 22:23] #2590 closed

[2019-09-27 09:26] Inilien commented on #2591
[code]
I executed these commands after I already restarted the extension several times until it started to work. If you think it is important to execute commands while extension is failing to start up, I can try that too.

[2019-09-27 22:11] claudiux commented on #2591
@Inilien
You have a N/A value.

Maybe you should run the command `sudo sensors-detect`. The most recent documentation I found is here: https://wiki.archlinux.org/index.php/Lm_sensors

[2019-09-28 10:01] Inilien commented on #2591
I tried to run `sudo sensors-detect` by choosing only default options (didn't risk to probe in cases where by default probing was off. Apparently it is possible to [overwrite default display configs](https://wiki.archlinux.org/index.php/Lm_sensors#Laptop_screen_issues_after_running_sensors-detect) permanently)
the N/A value is still there.
Would it be possible to fix it in the applet? The N/A devi

[2019-09-28 13:53] cardsurf commented on #2589
I have added support for kernel 4.18+ in version 1.1.0 through the [pull request](https://github.com/linuxmint/cinnamon-spices-applets/pull/2595).

[2019-09-28 14:14] Nitrooo commented on #2589
I still get 0B on kernel 5.0.0-29 and disk-read-and-write-speed version 1.0.1 ("Last modified: 2019-09-28 12:13 UTC").

[2019-09-28 14:32] claudiux commented on #2591
Strange. I have the same thermal sensor and this applet works very well for me.
[code]
I will try to solve this problem, without guarantee of success.

[2019-09-28 14:46] Mintulix commented on #2589
@ Nitrooo The fix is merged but still not delivered, so you have to wait a while.
Version 1.0.1 is the old one

[2019-09-28 14:46] claudiux commented on #2591
@Inilien Can you try to replace the line 320 of the `applet.js` file by this one, please?

[code]
Then reload this applet, using Looking Glass or restarting Cinnamon.

[2019-09-28 14:51] Nitrooo commented on #2589
Oh ok, I've updated the applet today and I thought it already included the 4.18+ fix.
Sorry. :)

[2019-09-28 15:37] claudiux commented on #2589
You can use Spices Update to get the latest version of this applet (and all other Spices): https://cinnamon-spices.linuxmint.com/applets/view/309

[2019-09-28 15:39] Nitrooo commented on #2589
@claudiux I already use and love it. Thank you :)

[2019-09-28 16:06] Beckfield opened #2597 "places-with-terminal@mtwebster"
[code]

 No assigned author

**Notify author of applet**
@

**Issue**
The 'File System' command in this applet won't launch Nemo in Linux Mint 19, because it's trying to use the 'gksudo' command.  That app was removed from Mint and at least some other Debian-based distros because it opens security risks.  It also has been unmaintained for years.

There's no reason this applet should be trying to l

[2019-09-29 10:22] Inilien commented on #2591
yes, technically it worked - after restarting cinnamon all extensions were loaded without single issue and I can see CPU temperature in my trey.
Thank you.

[2019-09-29 16:22] claudiux commented on #2591
OK. I will make a PR. Thank you for testing.

[2019-09-29 16:24] Bundy01 opened #2603 "weather@mockturtl: No translation of weather conditions"
[code]

**Notify author of applet**
@mockturtl

**Issue**
The weather conditions are not translated into my language as well as 'Today' and 'Tomorrow'.
Also a strange behavior if I choose the abbreviated conditions in the parameters.

![weather.png](https://i.postimg.cc/ZYGGLc6J/weather.png)

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2019-09-29 16:43] #2591 closed

[2019-09-29 18:12] Gr3q commented on #2603
Hello, can you paste the output of this command here:
```cat /etc/locale.conf ```
So I know the exact locale you are using. Just in case.

Today and Tomorrow is not translated to French (and languages) yet so that is known.
Are "Aujourd'hui" and "Demain" correct words for them?

I presume you are using DarkSky. Found the bug in what was causing not getting translations from them.

Also, the weird

[2019-09-29 18:26] Gr3q commented on #2551
Hello, if you could fill out the translation file it would be greatly appreciated.

The File is located here
https://raw.githubusercontent.com/linuxmint/cinnamon-spices-applets/master/weather%40mockturtl/files/weather%40mockturtl/po/weather%40mockturtl.pot

(just fill out the "msgstr" fields)

If you are not comfortable to create a Pull Request, you can send the ready file to me on floyd0122@gmail

[2019-09-29 19:02] Bundy01 commented on #2603
Hello,

[code]

It's the correct words in French.

I do effectively use DarkSky.
Regards.

[2019-09-29 19:13] Bundy01 commented on #2603
I arrived after the battle:)
The PR resolves this issue as I close it.
Thanks.

[2019-09-29 19:13] #2603 closed

[2019-09-30 21:13] Mintulix commented on #2589
Perfectly fixed with version 1.1.0, thank you.
The settings have to be reset, otherwise you have doubled entries (Read and Written) in the tooltip.
Or fix it by hand: old setting for Columns was 2,14,15 - now it's just 2.

[2019-09-30 21:13] #2589 closed

[2019-10-02 20:58] Fabian42 opened #2610 "SpicesUpdate@claudiux: Almost daily updates"
[code]

**Notify author of applet**
@claudiux

**Issue**

Almost every day Spices Update notifies me of an update for itself. The applets menu does indeed let me update the applet, but the version number doesn't change, there is nothing new in the changelog, I see no different functionality and I generally doubt that a relatively simple applet like this needs daily updates anyway. So I assume that

[2019-10-03 09:11] brownsr commented on #2610
There are quite a few translation changes coming through.

Regards

Simon

On Wed, 2 Oct 2019, 21:58 Fabian Röling, <notifications@github.com> wrote:

[2019-10-03 11:29] acornforth commented on #2610
I have also been experiencing this. It seems a little incongruous that this applet, which is supposed to make it _more_ convenient to update spices, now nags me nearly every day to update itself.
Given the purpose of this module, it seems like it might be a better strategy to accumulate the new translations and release an update once a week ?

Maybe it's different for users with dozens of spices i

[2019-10-03 11:36] acornforth opened #2614 "FR: cryptocoin@guantanamoe applet more precision for small money amounts."
cryptocoin@guantanamoe
[code]

**Notify author of applet**
@guantanamoe

**Issue**
No issue, just a request for more precision with small money amounts.
For example currently showing, i have XLM = £0.05

the value of my XLM has been fluctuating a fair amount over the last month, as i can see in the graph, but this number in the applet hardly ever changes.
Is it possible to have the applet detect w

[2019-10-04 08:17] acornforth commented on #2610
@Fabian42 i have found a workaround to the annoying updates
![spices workaround](https://user-images.githubusercontent.com/4586381/66192149-c4e7a680-e687-11e9-8f35-bdf907687149.png)

[2019-10-04 15:49] Fabian42 commented on #2610
Where do I find that? My applet menu looks completely different.
[image: image.png]

On Fri, 4 Oct 2019 at 10:17, Andrew Cornforth <notifications@github.com>
wrote:

[2019-10-04 18:55] claudiux commented on #2610
@Fabian42 This menu appears only for Cinnamon 4.2 and you have Cinnamon 3.2. See https://cinnamon-spices.linuxmint.com/applets/view/309, please.

@Fabian42 and @acornforth Some users require improvements ; translators update .po files (many thanks to them!) Question : Should I make the improvements you require, which will generate new updates, or do not do so that you will not be bothered by these

[2019-10-04 19:14] Nowaker opened #2615 "sysmonitor@orcus: support for sensors"
[code]

**Notify author of applet**
@orcuscz

**Feature request**

It would be great to see support for displaying values/values or drawing graph/graphs from selected `sensors`.

[2019-10-04 20:38] #2610 closed

[2019-10-04 22:02] Fabian42 commented on #2610
I didn't say you should never update the applet, I say that you should bundle changes. Nobody else actually releases daily, except if the deployment process is automated (which it isn't, every single user gets a notification and every single user needs to manually click to update the applet. Or they get annoyed with the notification on every reboot.

[2019-10-04 22:10] claudiux commented on #2610
@Fabian42 You can choose, in the General tab of the settings of this applet, not to send a notification. Thus, Spices Update will work as mintupdate, only changing the color of its icon when updates are available.

[2019-10-05 04:28] trojan577 commented on #1744
I believe this issue can now be closed #2598 fixes hibernation bug and #2480 fixes the width

[2019-10-06 14:46] Knezev commented on #2551
i no see applet
![Снимак екрана од 2019-10-06 16-45-40](https://user-images.githubusercontent.com/38316957/66270902-c6b49400-e858-11e9-8919-b9db520200e7.png)
![Снимак екрана од 2019-10-06 16-45-30](https://user-images.githubusercontent.com/38316957/66270903-cb794800-e858-11e9-8e79-f1bbcf216b11.png)

[2019-10-06 17:15] Gr3q commented on #2551
Try deleting and installing the app again

[2019-10-06 17:24] Knezev commented on #2551
I tried, still can't, so i took it with github, works but stayed in english
![Снимак екрана од 2019-10-06 19-22-48](https://user-images.githubusercontent.com/38316957/66272839-d50daa80-e86e-11e9-9c44-804a9cf86e8c.png)

[2019-10-06 19:41] Gr3q commented on #2551
You need to install the translations.

If you cloned this repo, open a terminal:
[code]

This will install the new translations. Then restart cinnamon _(or your computer)_

[2019-10-06 22:05] cgvirus opened #2620 "gray theme for hwmonitor"
hwmonitor@sylfurd
This excellent applet should have a gray theme for modern interface.
Here is an example:

[hwmonitor_gray theme.json.zip](https://github.com/linuxmint/cinnamon-spices-applets/files/3694907/hwmonitor_gray.theme.json.zip)

[2019-10-07 06:53] acornforth commented on #2610
that is how I have mine configured... unfortunately because the applet itself gI've no more indication about which applet needs an update...iit then required several cluck to open up the applet manager and discover that the only applet needing an update is this one...
i'm with Fabian here...
I wouldn't want to deprive anyone of a much needed update...
I also don't think a weekly release cycle for

[2019-10-07 06:56] acornforth commented on #2610
to clarify...i would still want to check for updates daily or hourly.... I just don't want this applet to be the only one I see listed 90 percent of the time

[2019-10-07 07:00] acornforth commented on #2610
perhaps being able to set how often to check for updates on a per applet basis....
could be a long term solution to please everyone...
or have a special setting for this applet to only check for update once a week? those waiting for fixes would still be able to update manually of course !

[2019-10-07 14:37] Hultan commented on #2620
Thanks @cgvirus, I will look into that as soon as I can...personally I suck at everything that have to do with how things look (colors and stuff), so this is awesome :-)

[2019-10-07 16:53] claudiux commented on #2610
@acornforth
To know which Spices need an update, hover over the Spices Update icon with your mouse.

Translations are needed by many people. Out of respect for non-English speakers, it is good that these translations become available quickly.

I will not make an exception for my own applet in the treatment of Spices.

In addition, this would cause a new update of Spices Update ... you do not want

[2019-10-07 19:36] cgvirus commented on #2620
Here are my Final tweaks. With images:
![Gey BlueTheme](https://user-images.githubusercontent.com/22106885/66342797-11730080-e96c-11e9-9157-c66b3966a7c8.jpg)
![GeyTheme](https://user-images.githubusercontent.com/22106885/66342798-11730080-e96c-11e9-9427-fccf43e8cc2a.jpg)

[Hw Monitor Grey Theme.zip](https://github.com/linuxmint/cinnamon-spices-applets/files/3699132/Hw.Monitor.Grey.Theme.zip)

[2019-10-11 12:44] guzzard opened #2622 "windowlist@cobinja.de menu bar hidden when hiding preview"
[code]

**Notify author of applet**
@Cobinja

**Issue**
When mouse exists the apple and the preview is hidden, the main menu bar is also hidden.

**Steps to reproduce**
![Peek 2019-10-11 14-33](https://user-images.githubusercontent.com/9007314/66652256-96dd0600-ec35-11e9-8620-480eda8b01b6.gif)

**Expected behaviour**
Only preview is hidden but main menu bar remain visible

**Other information**
In

[2019-10-12 09:35] Hultan commented on #2620
@cgvirus I have implemented your themes now, I hope I got the colors right. I had to do some math to convert them into code, but take a look at them and I will fix any mistakes I have made later.

I have cleaned up the configuration dialog, so I have divided the themes into two sections, general theme (border colors etc) and graph data theme, so you will have to change both to get your themes. Und

[2019-10-12 12:46] #2620 closed

[2019-10-12 14:03] leplastic commented on #2538
I think this is now solved. There is a second setting "Only use colors to alert me" which hides the text but keeps the background color when reaching the temperature thresholds. This is the setting I'm using and the text is not shown.

[2019-10-14 13:44] jkirk commented on #2393
After updating the applet to the latest version (https://github.com/linuxmint/cinnamon-spices-applets/commit/ad53c5a3), it again can not be added to the panel. I am reopening this issue as my environment (still Cinnamon v3.2.7 and `libmozjs v24`) did not change.

The `glass.log` looks like this when trying to add the applet:
[code]

I've bisected the source and found out that the applet broke for

[2019-10-14 13:59] Hultan commented on #2393
@jkirk, please try :

* Remove the applet from all panels
* Remove it from the applet gui (click on the minus sign)
* Do to the download page and download it again
* Add the applet back to your panel
* Give me some hopefully good news :-)

Thanks...

[2019-10-14 14:23] jkirk commented on #2393
Oh, I did all of this (as I also tried different versions of this applet). For the sake of completeness I did the following:

* Could not remove the applet from the panel (as it did not work anyways)
* "Remove from panel" (minus sign) was grayed out (as the applet was not running on any panel)
* Uninstalled the applet (right click on the applet in the Applet GUI / Installed Applets)
* Clicked "Ref

[2019-10-14 14:26] Hultan commented on #2393
Eh, my bad, the uninstall button is the one to the right of the minus sign (the one with the X). That should completely remove it from your system, and then download it again. Sorry!

[2019-10-14 14:30] jkirk commented on #2393
I think you are running Cinnamon 4.x (we talked about it :)), but I am running 3.2.7. I believe my applet gui looks a bit different. I only can uninstall the applet via right-click on the applet (which I did)... Let's assume I did the right thing to uninstall / install the applet...

[2019-10-14 14:44] jkirk commented on #2393
Oh no, it seems so: Browser support since [Spidermonkey JavaScript engine  45](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/constructor#Browser_compatibility) and Debian/stretch is stuck at [Spidermonkey JavaScript engine 24](https://github.com/linuxmint/cinnamon-spices-applets/issues/2393#issuecomment-520147165).

Right, @Odyseus?

[2019-10-14 16:26] claudiux commented on #2393
The keyword `class` is not recognized before Cinnamon 3.8.

[2019-10-14 17:30] Hultan commented on #2393
I have removed the new **class** keyword, and hopefully it should work now.

See PR #2631

[2019-10-15 20:27] n-peugnet opened #2633 "[temperature@fevimu] add an option to hide the unit symbol"
**Notify author of applet**
@jaszhix

**Feature request**

I use vertical panels and I wish this applet could only use one line. I thought that it could be a good idea to add an option to hide the unit symbol. Indeed, once it is set as Celsius or Fahrenheit it is not really a necessary information.

![systray](https://user-images.githubusercontent.com/23519418/66866588-e4d96d00-ef99-11e9-9848-e752

[2019-10-16 08:24] vitaliis opened #2635 "Cinnamenu@json: on typing show exact matches first"
[code]

@jaszhix thank you for such a great applet!

**Issue**
This is a great feature of this applet to be able to find application even if you skip a symbol or have a partial match in the middle of the name. However usability could be greatly improved, if apps that contain exact matches would be displayed first.

**Steps to reproduce**
Typing "code" in Cinnamenu search field results in various o

[2019-10-17 19:05] Hultan commented on #2393
@jkirk Can you test this applet again? It worked for me in Linux Mint 18.1 (Cinnamon 3.2.6)...

[2019-10-17 19:06] #2393 closed

[2019-10-17 19:46] jkirk commented on #2393
@Hultan Thumbs up was for your work and energy to help to solve my problem! I really, really appreciate it! Thank you very much!

I've just tested the applet from the source and it works! :fireworks: :1st_place_medal:

Unfortunately I do not get the same version out of the Applet GUI. I removed (actually not, as it was not running on the panel) and uninstalled the applet, refreshed the list and up

[2019-10-17 21:03] claudiux commented on #2393
@jkirk You can use the Spices Update applet to get the latest version of any Spice.

[2019-10-18 10:37] jkirk commented on #2393
Hmm. Something seems wrong with the Applet Repository. Neither the Applet GUI nor the Spices Update applet finds the latest version of the hwmonitor. Can someone confirm this?

(I am still running Cinnamon version 3.2.7 on Debian/stretch).

[2019-10-18 10:56] claudiux commented on #2393
@jkirk Please try a manual installation using this link: https://cinnamon-spices.linuxmint.com/files/applets/hwmonitor@sylfurd.zip?12345

Save the obtained zip file into your `~/.local/share/cinnamon/applets/` directory.

Go into this directory. Remove the `hwmonitor@sylfurd` folder.

Extract the zip file. The new `hwmonitor@sylfurd` folder appears. Then remove the zip file and restart Cinnamon.

[2019-10-18 11:11] jkirk commented on #2393
@claudiux A manual installation with provided link works.

What I noticed is that https://cinnamon-spices.linuxmint.com/files/applets/hwmonitor@sylfurd.zip?12345 provides the latest version whereas https://cinnamon-spices.linuxmint.com/files/applets/hwmonitor@sylfurd.zip gives me the old one. Where does "12345" come from?

What else is funny, that after manually installing the "12345" version, the

[2019-10-18 11:57] claudiux commented on #2393
@jkirk

Adding a random number following a question mark to the url given by the Download button of a Spice web page allows to bypass all proxy: a particular request is sent to the server, which returns the right zip file.

Start over again the procedure above, then replace the content of the `metadata.json` file by this one before restarting Cinnamon:
[code]

[2019-10-21 22:05] jkirk commented on #2393
Hmm. I am not exactly sure why that worked or if I even did the right thing but I am happy to say, that I finally have a working applet and the applet does NOT get overridden but the older version. Thanks everyone for the great support!

[2019-10-22 18:19] claudiux opened #2642 "[temperature@fevimu] .xsession-errors flooded with dozens of messages"
@jaszhix

 * Applet: temperature@fevimu latest version (2019-10-19)
 * Cinnamon version: 4.2.4
   - I do not use the daily builds PPA.
 * Distribution: Mint 19.2.
 * Graphics hardware *and* driver used
[code]
 * 64 bit
 * ~/.xsession-errors:
Please look at (now closed) issue https://github.com/linuxmint/cinnamon/issues/8903

[code]

The messages above are repeated every two seconds !

**Issue**

T

[2019-10-23 21:01] leplastic commented on #2633
If you know your way with JavaScript, maybe you can try to develop the functionality by yourself and submit a pull request. Right now the units are hardcoded as "ºC" and "ºF" as you can see here:

https://github.com/linuxmint/cinnamon-spices-applets/blob/731cdece6bd4b09b7e64d02f9ad90ec2cb1ddbee/temperature@fevimu/files/temperature@fevimu/applet.js#L353-L361

Typically the requests are approved wit

[2019-10-24 04:49] claudiux commented on #2633
@n-peugnet Feature added in #2647.

[2019-10-24 04:51] claudiux commented on #2642
Solved in #2647. It was just a CSS problem!

[2019-10-24 18:54] #2633 closed

[2019-10-24 18:54] #2642 closed

[2019-10-24 22:59] papioara opened #2652 "Force Quit applet causes Cinnamon to crash in Linux Mint 19.2"
force-quit@cinnamon.org
[code]

**Notify author of applet**
@force-quit@cinnamon.org

**Issue**
Applet causes cinnamon crash when installing or removing a program regardless of installation method (mintupdate, command line, synaptic)

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2019-10-25 04:54] claudiux commented on #2538
@brownsr @Fifis

This issue was fixed by #2560. Can you close it, please?

[2019-10-28 06:29] somayn commented on #2407
does not have sound. linux mint 19.2 64b
the tip from jana did not help. where is help to be found?

[2019-10-29 12:38] #2538 closed

[2019-10-31 06:58] Nokia808 commented on #2511
@pdcurtis
Hi. I'm very sorry for the delay in my replay ! I did not see your last comment unless few minutes ago !

I test new feature "Provide notification when user specified sound file is in use". It is working.

I will close this issue. However, I'm still seeing that add a check box within notification itself when appear, checking it lead to disable such notification, is still nice feature mak

[2019-10-31 06:58] #2511 closed

[2019-11-04 23:26] gnemonix commented on #1744
I currently do not have Cinnamon installed to test. If everyone is in agreement that the issue is resolved, go ahead and close this issue.

[2019-11-07 11:15] ToreMartinHagen opened #2675 "workspace-grid@hernejj: Enable and Configure not possible"
"uuid": "workspace-grid@hernejj",
    "name": "Workspace grid (2D) and switcher",
    "description": "2D workspace grid and switcher for Cinnamon",
    "icon": "gnome-panel-workspace-switcher",
    "last-edited": 1571504427

Cinnamon 4.2.3
Mint 19.2

**Issue**
Installed Workspace grid (2d) with cinnamon-settings - applets
The Workspace grid (2d) comes up in Manage tab, but the configure is grey an

[2019-11-07 20:24] ahmadnassri opened #2676 "cpufreq@mtwebster applet does not load"
[code]

**Notify author of applet**
@mtwebster

**Issue**

applet fails to load despite having all dependencies installed

**Steps to reproduce**

- install applet through Applets Manager UI
- add applet to panel
- applet prompt to install dependencies `apt-get install --no-install-recommends gnome-applets`
- install dependencies
- remove applet
- add applet to panel again
- no applet present on p

[2019-11-07 20:54] ahmadnassri commented on #2676
I figured out how to get the Melange to show some logs, this is all I see in relation to `cpufreq` applet loading with `trace` level enabled...

[code]

this shows me attempting to reload the applet twice, no further debug info is present

[2019-11-09 15:57] Sadi58 opened #2678 "Recent documents applet ::: items moved or deleted unresponsive [Bug]"
[code]

**Issue**
When you click an item in the dropdown list of "Recent documents" applet, nothing happens if it was deleted or moved.

**Steps to reproduce**
1. Create a new empty document in Home directory, opening and typing some text and saving it.
2. Open the Recent Documents applet and check if it is listed and does open when you click it in the Recent Documents list.
3. Go to Home folder a

[2019-11-09 16:06] icarter09 commented on #2678
@Sadi58 I reopened the old issue since I gave you some bad advice. Sorry about that.

[2019-11-09 16:08] Sadi58 commented on #2678
@icarter09 No problem. I was also tired; ;-)

[2019-11-09 16:08] #2678 closed

[2019-11-11 14:01] LinuxOnTheDesktop opened #2679 "Spices Update: frequency field ignores value if it is too high"
[Instruction unclear]

[code]

**Notify author of applet**
@claudiux

**Issue**

Frequency field ignores value if it is too high.

**Steps to reproduce**

Enter, say, '72' in the 'frequency' field (the field determining how frequent checks are).

**Expected behaviour**

Programs should actively reject values they dislike and give an explanation of why they are doing it.

**Other information**

[2019-11-11 14:08] LinuxOnTheDesktop opened #2680 "Spices Update: applet fails to update the displayed count"
[Instruction unclear]

[code]

**Notify author of applet**
@claudiux

**Issue**

Unticking 'Let regularly check if new desklets are available' does not affect the displayed updateable/new-items count.

**Steps to reproduce**

Have there be >= 1 new desklet(s).
Have  'Let regularly check if new desklets are available' ticked.
Observe the number shown on the applet's icon.
Untick the aforementioned

[2019-11-11 14:39] claudiux commented on #2679
Hi @LinuxOnTheDesktop,

Is your session open permanently? The "Frequency" tooltip shows: "Please note that the first check will take place one minute after this applet starts."

Thus, one minute after the opening of your session, a first check is made. Then, the next check will take place 72 hours after this one, unless you close your session.

[2019-11-11 14:48] LinuxOnTheDesktop commented on #2679
I am afraid that I am unsure what you mean. Anyhow, so far as I can tell, you miss my points. My point were/are as follows.

(1) If one changes a setting in such a way as to alter what should be checked for, then, if that change will - once it is applied - affect the number shown on the panel icon, then that number should be updated immediately. For, telling the program not to e.g. check for new d

[2019-11-11 14:50] claudiux commented on #2680
@LinuxOnTheDesktop,

Thank you for reporting these issues.

Can you post here the contents of your `~/.xsession-errors` file, please?

[2019-11-11 15:27] claudiux commented on #2679
It seems me that your last comment concerns #2680.

[2019-11-11 15:48] LinuxOnTheDesktop commented on #2679
Ah yes, my mistake. I have deleted the mistaken comment.

Let me clarify the problem. If I enter '72' into the field at issue, and then close the window and re-open it, then the value is not retained. However, if I enter '24' instead, then the value is retained.

[2019-11-11 16:38] claudiux commented on #2679
OK. I see where is the problem.

Please check the contents of your `/.cinnamon/configs/SpicesUpdate@claudiux/SpicesUpdate@claudiux.json` file.

From line 650 have you that?
[code]

If the "max" value is set to 24, Cinnamon did not apply the changes to the `settings-schema.json` file in #2616 and I'll go to open an issue.

Please try to completely remove and then reinstall Spices Update. After dele

[2019-11-11 17:48] fluntelion opened #2681 "SpicesUpdate fails to open"
Good evening, claudiux,

Is the following the interesting part of the .xsession-errors file?
If not, please tell me what else you need: fluntelion@protonmail.com

Kind regards,
fluntelion

_____________________________________________________________

Cjs-Message: 18:19:07.740: JS LOG: [LookingGlass/trace]
<----------------
_rewrite_metadataFile@/home/name/.local/share/cinnamon/applets/SpicesUpdat

[2019-11-11 18:18] claudiux commented on #2681
Good evening, @fluntelion,

A very old theme is certainly present in your `~/.themes` folder.

Can you, using 'insert code', give me bellow the result of the `tree -P metadata* ~/.themes/` command, please?

[2019-11-11 23:25] claudiux commented on #2679
@LinuxOnTheDesktop I had the same bug by directly typing the frequency value instead of using the `+` and `-` widgets.

[2019-11-12 00:00] claudiux commented on #2679
Replacing this `spinbutton` widget by a `scale` one, this issue is solved.

[2019-11-12 21:57] fluntelion commented on #2681
Good evening, claudiux,

Here's the answer to your question.

name@WorkStation:~$ tree -P metadata* ~/.themes/
/home/name/.themes/
├── Glaucous
│   ├── cinnamon
│   └── metadata.json
├── Numix-Curry
│   └── cinnamon
│       ├── background-assets
│       ├── buttons
│       ├── control-assets
│       ├── expo-scale-assets
│       ├── metadata.json
│       ├── misc-assets
│       ├── panel-assets
│

[2019-11-12 23:56] claudiux commented on #2681
@fluntelion  These three themes no longer exist in the Cinnamon database.

[2019-11-14 09:26] fluntelion commented on #2681
Good morning, claudiux,

"These three themes no longer exist in the Cinnamon database."

You're right and you aren't, because they never did. :-) 'Numix' is in the database by the name of Numix Cinnamon Transparent. Numix Curry, Green & Red weren't and aren't, because they are my forks of the original. I removed transparency, some lines and shadows as well as some other fancy things, and gave them

[2019-11-14 17:48] #2679 closed

[2019-11-14 17:48] #2680 closed

[2019-11-14 17:48] #2681 closed

[2019-11-14 17:58] claudiux commented on #2681
Good evening, @fluntelion,

I understand better, thank you. I've made a bash script to create the missing metadata.json file at the root of some themes.

The version 5.1.0 of Spices Update is here, from now on.

Please take a look at https://cinnamon-spices.linuxmint.com/applets/view/309#count.

Kind regards.
Claudiux

[2019-11-14 18:08] claudiux commented on #2680
@LinuxOnTheDesktop

I made a bash script to unlock the SpicesUpdate starting.

The version 5.1.0 of this applet is here.

Please take a look at https://cinnamon-spices.linuxmint.com/applets/view/309#count.

[2019-11-15 01:33] LinuxOnTheDesktop commented on #2680
Thanks: that script made the applet work again.

[2019-11-18 04:33] jaszhix2 commented on #2635
@jaszhix won't receive your notifications because that account has been banned since June. I cannot work on this because of that.

[2019-11-18 04:35] jaszhix2 commented on #2361
My main account has been banned since June, so I can't work on this.

[2019-11-18 18:25] jgottlander opened #2693 "SpicesUpdate@claudix does not load"
[code]

**Notify author of applet**
@claudiux

**Issue**
SpicesUpdate@claudix doesn't start/doesn't appear in systray

**Steps to reproduce**
Install Spices Update under Settings -> Applets.
Remove applet, then add again.

**Expected behaviour**
Should have started

**Other information**

[2019-11-18 18:27] #2328 closed

[2019-11-18 18:27] #2333 closed

[2019-11-18 18:27] #2361 closed

[2019-11-18 18:27] #2470 closed

[2019-11-18 18:27] #2635 closed

[2019-11-18 18:27] #1515 closed

[2019-11-18 18:27] #2121 closed

[2019-11-18 18:27] #2352 closed

[2019-11-18 18:27] #2531 closed

[2019-11-18 19:45] claudiux commented on #2693
@jgottlander This issue is closed by #2683.

Please look at https://github.com/linuxmint/cinnamon/issues/8956#issuecomment-554749492.

You can use a patch to make v5.1.0 working:
[code]

Sorry for the inconvenience.

Regards.
Claudiux

[2019-11-20 07:03] #2693 closed

[2019-11-20 09:37] mlo-poc opened #2695 "tracker@glebihan broken as tracker-gui is not longer provided in the repos."
[code]

**Notify author of applet**
@glebihan

**Issue**
Doesn't work since Cinnamon 4.0.9 on Linux Mint 19.1 as tracker-gui is not longer provided in the repos.

Is there any intention to get that fixed?
I am currently searching for a desktop-search-tool.
Desktop Environment is cinnamon (because I was getting extremely annoyed with gnome3 ...)

[2019-11-25 09:10] Padre2 opened #2698 "Weather UUID: weather@mockturtl"
* Applet version/Build date Version 2.3.2 (2019-10-30 05:43:33)
 * Cinnamon version 4.4
 * Distribution - Arch
 * Graphics hardware AMD
error t=2019-11-25T15:06:41Z [weather@mockturtl]: Extension is not compatible with current Cinnamon version
Cjs-Message: 14:57:22.346: JS LOG: [LookingGlass/error] [weather@mockturtl]: Extension is not compatible with current Cinnamon version
logError@/usr/share/c

[2019-11-25 13:29] Padre2 opened #2700 "UUID: temperature@fevimu"
* Applet version/Build date - tatest available
 * Cinnamon versiion 4.4
 * Distribution - Arch
 * Graphics hardware AMD
![CPU Temperature 2019-11-25 20-16-53](https://user-images.githubusercontent.com/38849451/69544183-c798b500-0fc1-11ea-9302-58004fb95e04.png)

 * Snippet or attachment of ~/.cinnamon/glass.log
 * Snippet or attachment of ~/.xsession-errors

[code]

[2019-11-25 14:09] Padre2 opened #2701 "UUID: gputemperature@silentage.com"
`
 * Applet version/Build date (toVersion 2.0.0 (2019-10-25 12:22:15)
 * Cinnamon version 4.4
 * Distribution - (Mint 17.2, Arch, Fedora 25, etc...)
 * Graphics hardware AMD

**Notify author of applet**
 gputemperature@silentage.com

**Issue**
Warning:  This applet contains function calls that will possibly cause Cinnamon to crash or freeze.

Some times will not load, but if loaded may cause cinna

[2019-11-25 23:37] Fabian42 opened #2703 "multicore-sys-monitor@ccadeptic23: Settings are reset on every update"
[code]

**Notify author of applet**
@jaszhix

**Issue**
Every time I update this applet, its settings get reset. The cause seems pretty apparent from the log and when looking at the folder: The settings are saved in sub-folder that is named after the version! So of course it doesn't find them again after an update!

[2019-11-26 17:19] puckboy18 opened #2705 "Weather Applet doesn't start on Cinnamon 4.4.0"
[code]

**Notify author of applet**
@

**Issue**
After upgrading to Cinnamon 4.4.0, weather applet no longer starts, complains it is not compatible with current version of Cinnamon.
![Screenshot from 2019-11-26 10-14-42](https://user-images.githubusercontent.com/58227893/69656366-a96c9c80-1035-11ea-8eb5-f89c88b01e0d.png)

**Steps to reproduce**
Right click on panel, open Applets, choose Weather, c

[2019-11-26 20:57] #2700 closed

[2019-11-27 01:28] #2705 closed

[2019-11-27 01:29] puckboy18 commented on #2705
Latest version works great. Thanks!

[2019-11-27 14:58] Padre2 opened #2706 "CPU Temperature Indicator"
UUID: temperature@fevimu

Applet version/Build date - Updated on 2019-11-27 03:57:45

Cinnamon version 4.4

Distribution - Arch

Graphics hardware AMD

After update is working, but floods the .Xsession-errors file with warnings:
_Cinnamon warning: Log level 128: posix_spawn avoided (automatic reaping requested) (fd close requested)_
This stops if removed and repeats when loaded.

[2019-11-27 15:39] Padre2 opened #2707 "Weather by mockturtl - multiple instances"
UUID: weather@mockturtl

Applet version/Build date Version 2.3.3 (2019-11-27 03:57:15)
Cinnamon version 4.4
Distribution - Arch
Graphics hardware AMD

**Notify author of applet**
 weather@mockturtl

**Issue**
After downloading this new version it can be loaded and functions. However, after clicking **+** the symbol remains highlighted and can be clicked repeatedly, which installs multiple applets.

[2019-11-27 18:37] Gr3q commented on #2707
I...I'm positive that is a feature what was in there even before I started working on the applet.

It supposed to allow maximum of 3 instances.

[2019-11-28 03:58] Padre2 commented on #2707
To the best of my recollection, after selecting to load the applet by clicking the white **+** the colour changed to grey and the **-** changed from grey to to white. Now after clicking **+** both remain white colour and there seems to be no limit to the number of instances that can be loaded (see attachment).
![Multiple_instances_Weather _applet_2019-11-28 10-48-25](https://user-images.githubuser

[2019-11-28 03:58] #2707 closed

[2019-11-28 08:22] Gr3q commented on #2707
Do you still can add more than 3 instances? If yes please reopen the issue and I'll look into it.

[2019-11-28 09:42] Padre2 commented on #2698
With 1 instance loaded and **+** still showing in white colour, clicking the **+** changes the applet into the loading icon and adds a 2nd loading icon and the computer freezes (see attached photo), requiring Ctrl+Alt+Esc/Del to reboot .
On rebooting, it has many multiple instances across the panel (see attachment).
I cannot understand why it is necessary to allow multiple instances for this apple

[2019-11-28 09:48] Padre2 commented on #2698
*

[2019-11-28 20:51] claudiux commented on #2706
@Padre2 Next time mention me, please: @claudiux. I will try to install Arch on a real machine, not a virtual one, to debug this.

[2019-11-29 03:49] Padre2 commented on #2698
weather@mockturtl
Sorry, was closed. Must have clicked the wrong button

[2019-11-29 04:40] Padre2 opened #2714 "Radio++ by Driglu4it - Increase station list window size."
FEATURE REQUEST
![Radio_list_window](https://user-images.githubusercontent.com/38849451/69844057-0ae27480-129d-11ea-86c0-6c1d387ed427.png)

* Applet version/Build date - Updated on 2019-10-20 00:00:27
 * Cinnamon version 4.4
 * Distribution - Arch
 * Graphics hardware - AMD/ATI

**Notify author of applet**
radio@driglu4it

It would help to be able to see as many of the listed stations as possible.

[2019-11-29 15:15] majfv opened #2717 "CinnVIIStarkMenu"
Hello
I do not have a favorites, just apps grouped by theme.
Is it possible to hide the "Favorites" column and the "Favorites" button found in the applications column.
Thank you for your reply
[code]

**Notify author of applet**
CinnVIIStarkMenu@NikoKrause@

**Issue**

**Steps to reproduce**

**Expected behaviour**

**Other information**

[2019-11-29 16:16] claudiux commented on #2717
Please mention the author: @NikoKrause

[2019-11-29 16:39] majfv opened #2718 "CinnVIIStarkMenu@NikoKrause"
Hello
I do not have a favorites, just apps grouped by theme.
Is it possible to hide the "Favorites" column and the "Favorites" button found in the applications column.
Thank you for your reply
Piece attached: desired result

**Notify author of applet**
@NikoKrause

**Other information** French user
![Capture du 2019-11-29 17-26-33](https://user-images.githubusercontent.com/58304946/69882018-207092

[2019-11-29 18:02] #2714 closed

[2019-11-29 18:05] claudiux commented on #2714
@Padre2 That's done!

[2019-11-30 03:55] Padre2 commented on #2714
@claudiux  Merci beaucoup! It's logical to make use of the space to reduce scrolling.

[2019-11-30 07:59] Padre2 opened #2719 "turn-off-monitor@zablotski - Does not turn off the monitor"
* Applet version/Build date - Updated on 2019-10-20 00:00:27
 * Cinnamon version 4.4
 * Distribution - Arch
 * Graphics hardware - AMD/ATI
 * Snippet or attachment of ~/.cinnamon/glass.log
info t=2019-11-30T14:42:30Z Loaded applet turn-off-monitor@zablotski in 16 ms
 * Snippet or attachment of ~/.xsession-errors
Cjs-Message: 14:42:30.417: JS LOG: [LookingGlass/info] Loaded applet turn-off-monitor@

[2019-11-30 08:27] Padre2 commented on #2714
Hello Caudiux,

Can I communicate directly with you via this e-mail address, or is it posted on github?

Regards,
Padre2

From: claudiux [mailto:notifications@github.com]
Sent: 30 November 2019 01:05
To: linuxmint/cinnamon-spices-applets
Cc: Padre2; Mention
Subject: Re: [linuxmint/cinnamon-spices-applets] Radio++ by Driglu4it - Increase station list window size. (#2714)

@Padre2 <https://github.co

[2019-11-30 14:08] claudiux commented on #2719
@Padre2 After clicking on the icon, do not move the mouse. What's going on, then?

[2019-11-30 15:08] #2717 closed

[2019-11-30 15:35] Padre2 commented on #2719
@claudiux
If I position the cursor and hold the mouse absolutely still using my left hand and left-click, it will turn off the display and the D-SUB No signal message will appear and the power led will come on, then the D-SUB message will disappear and the power light will flash. The slightest  mouse movement will open the display again. Can be done with one hand, but need to take extra care not t

[2019-11-30 20:41] claudiux commented on #2719
@Padre2 Please try to edit the `~/.local/share/cinnamon/applets/turn-off-monitor@zablotski/applet.js` script and change the value `1000` by `5000` (line 36). Save this file and restart Cinnamon. Your mouse will become inactive during 5 seconds (5000 ms) instead of 1 second (1000 ms) actually.

If that suits you, I'll modify this applet to implement some settings. Its author seems to be inactive on

[2019-12-01 05:10] Padre2 commented on #2719
@claudiux  Thank you for looking at this. It does reduce the sensitivity making it useable.  However, after further consideration I will probably not use this applet. When I need to blank the screen, I can use  _xset dpms force off_  from an alias and it doesn't even need _sudo._
I see you often help with solutions for various applets, which is much appreciated. Is there any way I can contact you

[2019-12-01 20:48] claudiux commented on #2719
@Padre2 I'm proposing the PR #2729 to improve this applet. Can you test it, please?

The best way to contact me is Github. I watch Github more often than my emails.

Kind regards.
Claudiux

[2019-12-02 04:54] Padre2 commented on #2719
@claudiux  I'm happy to assist with testing.  I am not yet fully familiar with the workings of GitHub. Will you be updating the applet or do I need to download it?

The reason I asked about an email address, is that I have several issues with certain applets and how Cinnamon behaves, e.g. I noticed differences in the way that the CPU Temperature applet displays on different distributions on the sa

[2019-12-02 12:38] Padre2 commented on #2706
@claudiux  After further checking I can confirm that this CPU temperature applet is displaying the GPU temperature in the panel. This is the last sensor (2nd temp1) in the following list:
sensor.log
S,lmsensor it8720-isa-0228 temp1,101
S,lmsensor it8720-isa-0228 temp2,101
S,lmsensor it8720-isa-0228 temp3,101
S,lmsensor radeon-pci-0100 temp1,101

This is further confirmed by checking on same machin

[2019-12-02 13:30] Gr3q commented on #2698
It was limited to 3 applets (for multiple places). I do not know why it is not enforced (anymore? I never really checked).

[2019-12-02 14:36] Padre2 commented on #2698
@Gr3q  weather@mockturtl
The issue right now is that clicking **+** more than once on Cinnamon 4.4 will try to install a second instance and the computer will freeze.  Are you looking at this issue, or is anyone else taking care of this applet?

[2019-12-02 17:57] Gr3q commented on #2698
I'm working on the applet the most this year.

I looked into it, adding multiple instances in quick succession does not freeze Cinnamon for me, but both the ability freeze and able to click multiple times is still there.

The limit actually not working is not exclusive to this applet, the limit only works if its set to 1.

I think the problem is with the 'Applets' Cinnamon settings at this time, y

[2019-12-03 07:33] Padre2 commented on #2698
@Gr3q  I changed the max-instance from 3 to 1 in the metadata.json file and it fixes the issue.
I tried to open a PR, but new to GitHub have never used before and apparently it failed.  Can you take a look?
I see no reason why more than one instance would ever be needed in the Cinnamon panel.

[2019-12-03 18:04] #2719 closed

[2019-12-03 20:04] #2209 closed

[2019-12-04 06:59] Padre2 commented on #2719
@claudiux  No problems.
Cjs-Message: 13:48:30.241: JS LOG: [LookingGlass/info] Loaded applet turn-off-monitor@zablotski in 22 ms
 Good job with the additional configuration and icon!

[2019-12-09 08:50] Padre2 commented on #2706
@claudiux  Just updated this app.
The temperature showing from temperature@fevimu in the panel is definitely from the GPU (AMD Radeon) and not the CPU.
The it8720-isa-0228 temp1 is the CPU, temp2 is the mobo and temp 3 is unknown.
In searching this, many give temp3 ~82. Never changes and nobody seems to know what it is.

[2019-12-09 18:45] claudiux commented on #2706
@Padre2 I'm searching how to solve these issues...

[2019-12-09 20:47] Stoatwblr commented on #2448
The applet doesn't work with AMDGPU here. All it displays is NaN

lmsensors says:
amdgpu-pci-0100
Adapter: PCI adapter
vddgfx:           N/A
fan1:           0 RPM
edge:         +60.0°C  (crit = +120.0°C, hyst = +90.0°C)
ERROR: Can't get value of subfeature power1_cap: Can't read
power1:           N/A  (cap =   0.00 W)

Works fine with the radeon driver.
(Ubuntu 19.10 with Cinnamon desktop loaded,

[2019-12-10 04:38] Padre2 commented on #2706
@claudiux Thank you, I shall be interested to learn more about these issues.

Running sensors-detect:
Driver `it87':
  * ISA bus, address 0x228
    Chip `ITE IT8720F Super IO Sensors'

  Driver `i2c-piix4' for device 0000:00:14.0:
  ATI Technologies Inc SB600/SB700/SB800 SMBus

In the meantime, I installed xsensors, which displays the values correctly for  GPU, CPU and MOBO.
![it872-_sensor_2019-1

[2019-12-10 18:27] claudiux commented on #2706
@Padre2 Can you also post the second page, please?

[2019-12-11 03:09] Stoatwblr opened #2747 ""redshift only gets darker""
This is on Ubuntu 19.10 and seems to be common with the KDE applet bug report:

https://lists.debian.org/debian-release/2019/10/msg00011.html

This is due to a parameter change in redshift:

Description: Redshift version >= 1.12 requires the -P option to clear the existing gamma ramps for one-shot mode. Without it the screen gets darker and darker until it is impossible to see anything.

The fix i

[2019-12-11 12:41] Padre2 commented on #2706
@claudiux Sorry for delay, first major issue with 4 months with my Arch compilation:  no sound after updates - spent hours fixing and tweaking ALSA and PulseAudio - learned a lot.  :-)
I presume you mean the Radeon page. Not much to see, please find below.
![Radeon_sensor_2019-12-11](https://user-images.githubusercontent.com/38849451/70622154-ddf37180-1c4d-11ea-8361-cea49851144c.png)

[2019-12-11 22:57] claudiux commented on #2706
@Padre2 Thank you. I think I have found where the problem comes from. It only remains for me to solve it!

[2019-12-12 05:02] Padre2 commented on #2706
@claudiux  I tried changing `hwmon0` to `hwmon1` as in the following, starting line 273 in the applet.js and was able to get it to show the CPU temperature in the panel.  Is this enough to fix this issue?

`_findTemperatureFromFiles: function() {
    let info = {};
    let tempFiles = [
      // hwmon for new 2.6.39, 3.x linux kernels
      '/sys/class/hwmon/hwmon1/temp1_input',
      '/sys/device

[2019-12-12 05:10] Padre2 commented on #2706
@claudiux  I tried changing `hwmon0` to `hwmon1` as in the following, starting line 273 in the applet.js and was able to get it to show the CPU temperature in the panel.  Is this enough to fix this issue?

`_findTemperatureFromFiles: function() {
    let info = {};
    let tempFiles = [
      // hwmon for new 2.6.39, 3.x linux kernels
      '/sys/class/hwmon/hwmon1/temp1_input',
      '/sys/device

[2019-12-13 10:46] claudiux commented on #2706
@Padre2

I will add some files in this list.

This Cinnamon warning only appears on Arch. I don't know why. I'm searching...

[2019-12-13 12:07] claudiux commented on #2706
@Padre2 Can you post (using triple back-quote) the result of this command, please?
`find /sys -type f -name "temp*"`

[2019-12-13 14:52] Padre2 commented on #2706
@claudiux   Run with sudo:
[code]

[2019-12-13 14:58] Padre2 commented on #2706
This often happens only once for some applets and is not really a problem, but I object when it floods the page.  I am trying to discover why and how this is generated.

[2019-12-13 19:40] claudiux commented on #2706
@Padre2 On my computer, the `sudo find /sys -type f -name "temp*" | sort` command displays:
[code]
As you can see, some filenames are completely different.

Can you publish the contents of the following files, please? I will try to automate the detection of "useful files", and I want to be sure of their role.
[code]

[2019-12-13 19:44] claudiux commented on #2706
@Padre2 Did you try to use the command `sudo sensors-detect`?

[2019-12-13 19:50] mlavi opened #2748 "sysmonitor@orcus add text label/title to each graph"
[code]
**Notify author of applet**
@orcuscz

**Feature Request**

As a desktop users, I use the tooltip when mousing over the applet and it incredibly helpful to learn what is being displayed. But discerning and verifying which graph is which, especially when they are nearly empty (e.g.: swap barely in use, load is near zero) is hard at a glance or when you are new/learning the layout.

I would as

[2019-12-14 03:59] Padre2 commented on #2706
@claudiux   `running-sensors` detect with `sudo` does not seem to produce any more information than I pasted above.

[2019-12-14 04:30] Padre2 commented on #2706
@claudiux   `running-sensors-detect` with `sudo` does not seem to produce any more information than I pasted above.

[2019-12-15 16:47] claudiux commented on #2706
@Padre2 Can you try this command, please? `sudo modprobe coretemp`.

If successful:

- Replace `hwmon1` by `hwmon0` in the tempFiles list.

- Restart this applet (or Cinnamon) and open its menu. Can you see any change?

(I'm trying to rewrite this applet to autodetect the right temperature sensors. What a fog!)

[2019-12-16 05:14] Padre2 commented on #2706
@claudiux   `sudo modprobe coretemp`
`modprobe: ERROR: could not insert 'coretemp': No such device`
You did not comment on the changes I posted above, which do change the display to the CPU temperature on the panel.

[2019-12-16 05:45] Padre2 commented on #2706
@claudiux   > What a fog!)
Have you read this?
[https://www.fnal.gov/projects/ckm/ckm_cluster/sysadmin/lm-sensors/sensors.conf.ckmxx]
Apologies, if it only adds to the fog.

[2019-12-17 05:16] Padre2 commented on #2698
@Gr3q
It appears that several posts were deleted, although not by me.

My understanding was that you would do this, but I cannot find anything.  Please advise if you did.

[2019-12-17 16:04] clrg opened #2753 "collapsible-systray@feuerfuchs.eu - vertical panel support"
collapsible-systray@feuerfuchs.eu

[code]

Looks awful:

![Screenshot from 2019-12-17 15-52-07](https://user-images.githubusercontent.com/68176/71012320-db2dcc00-20e6-11ea-96b9-0ecbb1d30d7e.png)

Needs to either respect the "Symbolic icon size (px)" setting for the panel or have a setting to change the icon size.

[2019-12-17 17:24] clrg commented on #2753
Update: managed to get them to size properly. In the Panel settings set the 'Coloured icon size' to the preferred size. I guess you can close this issue?

[2019-12-17 17:41] claudiux commented on #2706
@Padre2 Yes, you can add `'/sys/class/hwmon/hwmon1/temp1_input',` as first element of tempFiles and `'/sys/class/hwmon/hwmon1/temp1_crit',` as first element of critFiles.

Thank you for the link. Each system has its own file `/etc/sensors.conf` or `/etc/sensors3.conf`. That will help me to determine the CPU temperature sensor.

I don't understand why, on your system, this applet does not use the d

[2019-12-17 22:47] Gr3q commented on #2698
I opened the issue here https://github.com/linuxmint/cinnamon/issues/9004

[2019-12-18 00:14] claudiux commented on #2706
@Padre2 I just made the PR #2755. Can you test the new `applet.js`, please?

[2019-12-18 06:47] Padre2 commented on #2706
@claudiux   Downloaded the applet.js patch, added the original first 43 lines and replaced the original with the new file. I presume this is the correct procedure.  Loads OK and looks good! The applet is showing the correct CPU temperature in the panel.   Left click shows other temperatures as before.  Below are copies of relevant parts of the .Xsession-errors file without the applet loaded and af

[2019-12-18 09:56] Padre2 commented on #2706
@claudiux   Also checked on Manjaro (Cinnamon 4.4.3) with GPU temperature showing on panel until run `sensors-detect --auto`, then CPU temperature correctly displayed.

[2019-12-18 16:28] claudiux commented on #2706
@Padre2 Thank you !

It seems that your hardware does not provide any critical temperature (there is no temp*_crit file in your list).

All these `posix_spawn avoided` messages! Grr. Maybe a CSS error. I'm searching.

[2019-12-18 19:10] aerkiaga opened #2756 "[show-hide-applets@mohammad-sn] Add option to not autohide on click"
This is simply a feature request. The idea is that when "Activate on hover" and "Autohide" are both enabled, a further option was made available where hovering and then clicking on the activated icon disables autohide until the applet icons are manually hidden by clicking or hovering (if "Hide on hovering again" is enabled. There are other ways of specifying this configuration, like radiobuttons f

[2019-12-19 05:13] Padre2 commented on #2706
@claudiux  Not to worry regarding the CPU critical temperature,  I can set my CMOS to give a warning at 60, 70 , 80, or 90 °C, so have no need to depend on the applet for this.  However, as I mentioned at the outset my interest is in how this might be done and perhaps applied to the GPU temperature. My GPU has passive cooling, so I have no fear of a fan failure, but it would be good to have a way

[2019-12-19 08:37] Padre2 opened #2760 "web-developer-menu@infiniteshroom"
@infiniteshroom

 * Applet version/Build date:  ? not shown in metadata.js - latest download
 * Cinnamon version 4.4.4 & 4.4.5
 * Distribution - Arch
 * Graphics hardware *and* driver used AMD/ATI Radeon
 * Snippet or attachment of ~/.cinnamon/glass.log
error t=2019-12-19T15:02:44Z
[web-developer-menu@infiniteshroom]: assignment to undeclared variable s
[web-developer-menu@infiniteshroom]: Failed

[2019-12-19 11:50] Padre2 commented on #2698
@Gr3q   Köszönöm a segítséget.

[2019-12-19 11:51] #2698 closed

[2019-12-19 18:18] claudiux commented on #2467
@brownsr @Zerophase  Can you close this issue, please?

[2019-12-19 23:48] Extarys commented on #2676
Same issue, according to the comments on the page (https://cinnamon-spices.linuxmint.com/applets/view/70) it's been a while since it worked.

[2019-12-20 02:50] #2676 closed

[2019-12-20 10:16] #2467 closed

[2019-12-20 21:37] sphh opened #2765 "[collapsible-systray@feuerfuchs.eu] Update to XAppStatusIcon"
[code]

**Notify author of applet**
@Feuerfuchs

**Issue**

I really find the collapsible systray very useful to remove the clutter on the desktop. Unfortunately the new X App Status Applet "steals" the applets. Do you think it's possible that you can update your applet to use the new XAppStatusIcon?

Thanks!!

[2019-12-22 14:25] sphh opened #2768 "[multicore-sys-monitor@ccadeptic23] Stopped working after upgrade to Mint 19.3"
[code]

**Notify author of applet**
@ccadeptic23
@jaszhix
@brownsr

**Issue**
There is a rather good description in the comments section: https://cinnamon-spices.linuxmint.com/applets/view/79#comments:

v1.8.91 Appears to have trouble on Mint 19.3 with Cinnamon 4.4.5. CPU stops updating after a few minutes and I don't think I've noticed MEM update after initial start either. Network and Disk both

[2019-12-22 16:06] claudiux commented on #2706
@Padre2 After reading https://bbs.archlinux.org/viewtopic.php?id=250196, it seems that the files used to obtain the temperatures can change places when Linux starts. For example: `/sys/class/hwmon1` can become`/sys/class/hwmon0`, etc. It is therefore illusory to want to create a definitive list of sensor files. I will try to make sure that they are determined each time the applet is launched.

[2019-12-22 16:20] claudiux commented on #2706
@Padre2 Can you post here the result of the command `sensors -u`, please?

[2019-12-22 19:44] claudiux commented on #2768
@sphh What is your kernel version? `uname -mr`

[2019-12-22 20:08] claudiux commented on #2706
@Padre2 To try to remove all these warnings of .xsession-errors, can you add in your `~/.local/share/cinnamon/applets/temperature@fevimu` folder this `stylesheet.css` file, please? https://github.com/linuxmint/cinnamon-spices-applets/pull/2755/commits/2d146833d0b0abf7ef0cadb0c626eb9f6bf068c9

Then, reload the code of this applet or restart Cinnamon.

[2019-12-22 21:05] sphh commented on #2768
`$ uname -mr`
`5.1.15-surface-linux-surface x86_64`

[2019-12-23 04:54] Padre2 commented on #2706
@claudiux
``sensors -u  (only temperature values listed)`
radeon-pci-0100
Adapter: PCI adapter
temp1:
  temp1_input: 54.500
  temp1_crit: 120.000
  temp1_crit_hyst: 90.000
it8720-isa-0228
Adapter: ISA adapter
  temp1_input: 37.000
  temp1_max: 127.000
  temp1_min: 127.000
  temp1_alarm: 0.000
  temp1_type: 4.000
  temp1_offset: 0.000
  temp1_beep: 1.000
temp2:
  temp2_input: 43.000
  temp2_max: 60

[2019-12-23 05:46] Padre2 commented on #2706
@claudiux add stylesheet.css to ~/.local/share/cinnamon/applets/temperature@fevimu folder
Does seem to reduce the number of warnings.  If style still in the _js_ file, where is the stylesheet called?
[code]

[2019-12-23 08:55] trourance commented on #2768
Somehow the same issue with arch linux and cinnamon 4.4.4. The applet is frozen and I get the same error message in .xsession-errors:
[code]
[code]

[2019-12-23 22:12] claudiux commented on #2706
@Padre2 Thank you for all. It seems that Cinnamon must be restarted to take into account the new `stylesheet.css` file (which is loaded, if it exists, by the script `/usr/share/cinnamon/js/ui/extension.js` when the applet starts at Cinnamon startup).

[2019-12-24 02:19] claudiux commented on #2706
@Padre2 The temperature of your CPU seems to be the temp2.

[2019-12-24 02:47] claudiux commented on #2768
[code]
Using Mint 19.3 and Cinnamon 4.4.5 with a kernel lesser than 5, this applet works well. I'll try with a kernel version 5.

[2019-12-24 03:07] claudiux commented on #2768
[code]
This applet seems to be working well. Can you specify "a few minutes"? Is the computer idle? Has the screen saver been activated?

[2019-12-24 06:38] Padre2 commented on #2706
@ claudiux  Yes, agreed and temp3 is the Northbridge (AMD 770) chipset.

[2019-12-27 06:19] Odyseus opened #2775 "[gnote@brett-smith] Applet icon not symbolic"
System data irrelevant.

@brett-smith

### Issue

Applet not using symbolic icon. This causes the icon to be light when the applet is placed in a panel with light background.

### Steps to reproduce

Install and enable applet.

### Expected behaviour

The applet should use a symbolic icon.

### Other information

The issue can be fixed by just renaming the icon file at **icons/gnote-panel.svg** to

[2019-12-27 13:37] trourance commented on #2768
Today it has frozen few seconds after the login. The computer was in use and the screen saver has never been activated during that time.

[2019-12-27 15:50] claudiux commented on #2768
Do you also use one of these applets?

turbonote@iksws.com.b

vnstat@linuxmint.com

netusagemonitor@pdcurtis

[2019-12-27 16:15] trourance commented on #2768
None of them. On my side, I use ScreenShot@tech71 and temperature@fevimu.

[2019-12-27 18:37] claudiux commented on #2768
@trourance @sphh Please try replacing the line 31 of `DataProviders.js` by this one:

[code]

[2019-12-28 19:23] claudiux commented on #2706
@Padre2 I need to know the label of each temp. Can you repost the entire contents of the `sensors -u` return, please?

Bonne fin d'année à vous aussi !

[2019-12-28 20:44] #2775 closed

[2019-12-28 20:45] #2768 closed

[2019-12-28 22:43] claudiux commented on #2768
Sorry, a value calculation error is now present. It will be corrected in #2781.

[2019-12-29 05:25] Padre2 commented on #2706
@claudiux Fyi, Cinnamon updated to version 4.4.6 this morning and the temperature displayed on the panel reverted to the GPU temp1. However after restarting it displayed the CPU temp1.!
Also the warnings at the bottom of the .Xsession-errors have now increased to 9.

I have only about 6 months experience with Linux and was not sure of what to do with the script.  I took the following steps:
The sc

[2019-12-29 05:39] claudiux commented on #2706
@Padre2 This script has created a file named `sensors_detected.json`, in the same folder. Can you post its contents, please?

[2019-12-29 05:40] claudiux commented on #2706
@Padre2 Thank you! I'm working hard on this applet. :)

[2019-12-29 05:43] Padre2 commented on #2706
After restarting, the warnings are reducd:
[code]

[2019-12-29 05:47] Padre2 commented on #2706
@claudiux

Shouldn't you be sleeping?  I hadn't finished posting. :-)

[2019-12-29 06:37] claudiux commented on #2706
@Padre2 Claudiux never sleeps! ;)

Have you gone to see what your computer's BIOS says about the sensors, if any?

[2019-12-29 08:59] Padre2 commented on #2706
@claudiux

The Motherboard Manual provides the following:
[code]
The settings provide for CPU overheating warnings as mentioned earlier.

Yes, I have read that several times, but may have missed some points.

`zsh 643 % sudo lshw -C system -C processor`
`sudo: lshw: command not found`
Installed LSHW
[code]

[2019-12-29 09:07] Padre2 commented on #2706
@claudiux

I draw the line at midnight, after that my computer will turn into a pumpkin!

[2019-12-29 12:04] sphh commented on #2768
Thanks @claudiux for investigating and finding this!!!

[2019-12-29 17:42] sphh commented on #2035
@icarter09 , please find a German translation in this file:
[de.po.zip](https://github.com/linuxmint/cinnamon-spices-applets/files/4008361/de.po.zip)

BTW I noticed, many duplicate strings in the original applet, e.g. "Redshift Day Brightness" and "Redshift day brightness" or "Redshift day colour" and "Redshift Day colour temperature" just to name two. Also capitalizing is not consistent …

[2019-12-29 19:16] sphh commented on #1597
I had a quick look and managed to synchronize the brightness levels between the power applet and the redshift applet's menu and configuration window, but unfortunately not in the tooltip. To get this working, I would have to call `getSystemBrightness()` repeatedly. But since this calls `GLib.spawn_command_line_sync('gdbus ...')`, I am afraid this would slow down the system.

Possible solutions:

1

[2019-12-29 22:12] claudiux commented on #2706
@Padre2 :-)
I suggest you to put this `GA-MA770-US3.conf` file in your `/etc/sensors.d/` folder, before rebooting your computer. I have commented with `#~` the 'Voltages` and `Fans` sections because I'm not completely sure of them. I used the page 52 of the manual of your motherboard (https://download1.gigabyte.com/Files/Manual/motherboard_manual_ga-ma770-us3_e.pdf), the data you gave me above and

[2019-12-30 04:28] Padre2 commented on #2706
@claudiux
[code]
Contents of the sensors_detected.json file:
[code]

[2019-12-30 08:36] claudiux commented on #2706
@Padre2 Please try `sudo sensors-detect --auto` then re-run the script. Post the `sensors_detected.json` file only if it has changed.

[2019-12-30 13:44] Padre2 commented on #2706
[code]

[2019-12-30 15:01] claudiux commented on #2706
@Padre2 That doesn't work! :(

[2020-01-02 21:41] claudiux opened #2790 "[brightness-and-gamma-applet@cardsurf] All values are reset to 100% on each update"
[code]

**Author of applet**
@cardsurf

**Issue**
Whenever this applet is updated, all the values are reset to 100%.

**Steps to reproduce**
Wait for an update... or use settings of Spices Update to reload the latest version of brightness-and-gamma-applet@cardsurf.

**Expected behaviour**
Let these values be kept.

**Other information**
You can create in `~/.cinnamon/configs/brightness-and-gamma-a

[2020-01-03 15:12] cardsurf commented on #2790
@claudiux
Hi,
Thanks for the detailed description.
I will fix the issue this week. In the next days I will test that the applet works correctly.

[2020-01-05 12:22] #2790 closed

[2020-01-05 14:21] claudiux commented on #2790
@cardsurf Yesss! It works very well! Thank you very much!

[2020-01-06 04:19] Bundy01 opened #2798 "location-detection@heimdall don' t work"
[code]

**Notify author of applet**
@heimdall

**Issue**
Hi,

the address to check the ip is no longer accessible from a web browser (http://api.ipinfodb.com/).
This applet should be rewritten by replacing this address by this one for example: https://ipapi.co/country

Regards.

[2020-01-06 06:40] rdlf4 opened #2799 "[show-hide-applets@mohammad-sn] Drawer doesn't work for Linux Mint 19.1"
[code]

**Issue**
This Cinnamon applet is begging for an update. It doesn't work on Mint 19.1.

**Steps to reproduce**
I've tried leaving my systray icons to the left of the drawer icon, enabled Panel Edit mode and dragged the arrow icon to the right of the systray ones, and nothing happens.

**Expected behaviour**
I was hoping the Drawer applet would hide the system notification icon from the tas

[2020-01-07 00:27] claudiux commented on #2706
@Padre2
Happy new year!
Work is in progress... but not finished.
I just "committed" some improvements into the PR #2755.

[2020-01-07 10:17] Padre2 commented on #2706
Bonne année et bonne santé! Que la force soit avec vous!
Please advise, if any testing needed.

[2020-01-08 08:23] ArnaudDovi opened #2801 "hwmonitor@sylfurd: New applet - I/O Disk usage"
Actually for me hwmonitor@sylfurd is the perfect replacement to the system tray icons of process explorer under Windows except it lacks the informations to monitor I/O disk usage.

I believe it helps to not charge the system queue too much when there is extreme disk works.

@claudiux @brownsr

[2020-01-08 21:47] claudiux commented on #2542
@clefebvre @mtwebster @brownsr
The Spices Update applet has just lost 5 stars (from 56 to 51). I'm furious and discouraged to continue to develop and improve any applet. Spices Update was in continuous development. I participated in the improvement of other Spices (even those of which I was not the author) and Cinnamon. I consider my work on Spices to be very poorly recognized and ask myself the q

[2020-01-08 22:49] Gr3q commented on #2542
I don't have this string opinion about this, but I agree the algorithm is u unsuitable for its purpose like this.

At least it should be clear to show a total count and the count for the past year

[2020-01-09 09:02] brownsr commented on #2542
The rating system isn't perfect, but your contributions are very much
appreciated I can assure you. The purpose of the scoring cutoff after some
time is so that newer applets that become popular can climb the rankings.

Kind regards

Simon

On Wed, 8 Jan 2020, 22:49 Attila Greguss, <notifications@github.com> wrote:

[2020-01-09 19:44] claudiux commented on #2542
Thank you @brownsr.

I understand the need for more recent applets that become popular to be able to climb in the ranking, but this should not be done at the expense of already popular applets which are constantly improved by their author. There is no reason why they should be devalued.

It is absolutely necessary to create a new, fairer algorithm, in agreement with the authors of Spices.

Kind re

[2020-01-09 20:39] clefebvre commented on #2542
Let's review it. The reason it was like that was to give a chance for new applets to get some visibility and not have popular ones stay at the top even if their famed was ancestral.

I'll fetch the exact formula tomorrow so we can review it and discuss it here together.

[2020-01-10 09:47] clefebvre commented on #2542
OK, so it's calculated as follows:

`SELECT COUNT(*) WHERE FROM_UNIXTIME(timestamp) >= DATE_SUB(NOW(), INTERVAL 1 YEAR)'`

In other words, it's the number of likes not older than a year.

[2020-01-10 10:12] clefebvre commented on #2542
So, I think the biggest issue here is misunderstanding and the assumption that there was foul play. Now that we've cleared that, let's look at the formula and the issues it solves and the issues that it doesn't solve :)

Without a formula, if we just count likes without taking time in consideration, we let spices accumulate likes over time and slowly climb to altitudes it would take new applets mo

[2020-01-10 10:16] clefebvre commented on #2542
Some data might help. Here's the top 10 without formula:

[code]

[2020-01-10 10:23] clefebvre commented on #2542
IcingTaskManager@json is a good example (and a bad one also since it was removed). It became really popular because it brought something that people wanted and which wasn't in Cinnamon core. When it was integrated as GWL, some of the IcingTaskManager were left out, so for a while we had GWL which had most of what people wanted, but we also still had ITM which brought some of the niche features GWL

[2020-01-10 10:24] Gr3q commented on #2542
In reality we have 2 data points here what we cannot mix without losing information.

Currently an applet _popularity_ is shown for the last year and simple labelled as "Stars".
The other one is _total votes_ what is not shown anywhere but can still give valuable information.

Explicitly declaring the logic behind the Star system next to the starts with a tooltip or footnote or sth would be an imp

[2020-01-10 10:26] clefebvre commented on #2542
@Gr3q yes that's a good point too.

[2020-01-10 10:27] clefebvre commented on #2542
To continue my illustration, here's the top 10 with the current formula:

[code]
ITM's ranking is 4 (compared to 66 without the formula).

[2020-01-10 10:29] Gr3q commented on #2542
If a Star is not considered from an user anymore (older than one year, currently), add the ability to vote again for that user. (It is possible that this is implemented already, I simply don't know)

I would be happy with just this and providing information on the website.

[2020-01-10 10:33] clefebvre commented on #2542
I can confirm that at the moment, you can't re-like or unlike something you liked already.

[2020-01-10 16:24] claudiux commented on #2542
I have a solution, a bit complex to implement.

1. Add `Github account` in `System settings - > Accounts`.
2. In the Download tab of System settings - > Applets (or Desklets...) the star of each applet appears filled if the user has already rated the one during the last 365 days, greyed else.
3. When the user clicks on a star, its status change if the user has a registered Github account (else `Sy

[2020-01-10 16:49] collinss commented on #2542
@clefebvre Just curious, is there a way to track the number of downloads by time?

[2020-01-10 22:51] kalee opened #2806 "CPU Temperature Indicator - picking displayed temp"
$ sensors
k10temp-pci-00db
Adapter: PCI adapter
Tdie:         +33.2°C  (high = +70.0°C)
Tctl:         +60.2°C

k10temp-pci-00cb
Adapter: PCI adapter
Tdie:         +32.2°C  (high = +70.0°C)
Tctl:         +59.2°C

amdgpu-pci-0900
Adapter: PCI adapter
vddgfx:       +0.90 V
fan1:         787 RPM
temp1:        +46.0°C  (crit = +91.0°C, hyst = -273.1°C)
power1:       65.17 W  (cap = 185.00 W)

k10temp-p

[2020-01-10 23:24] claudiux commented on #2806
Hi @kalee,

The next time, please mention me (@claudiux) for any issue about this applet.

I am working on an interface allowing the user to choose the sensors to take into account.

[2020-01-11 07:26] zahardoc opened #2807 "Shortcuts CTRL+ALT+UP & CTRL+ALT+DOWN don't work"
[code]

**Notify author of applet**
@hernejj

**Issue**
Shortcuts CTRL+ALT+UP & CTRL+ALT+DOWN don't work on Linux Mint 19.3 Cinnamon.

**Steps to reproduce**
1. Install Linux Mint 19.3 Cinnamon 64.
2. Add  "Workspace grid (2D) and switcher" applet.
3. Go to applet settings and setup 2 columns and 2 rows.
4. Use Grid style.
5. Set "Use Keyboard shortcuts" to true.
6. Try to use CTRL+ALT+UP & CTRL+A

[2020-01-11 10:26] Kabuse opened #2808 "weather@mockturtl: "Cloudiness" missing colon and German translation"
Linux Mint 19.3 Tricia x86_64
Cinnamon 4.4.8
Weather (weather@mockturtl) Version 2.3.5 (2020-01-09 21:29:23)

If you open the applet, it shows you the current values in the upper right corner.

There is also the value "Cloudiness".

First issue, I want to mention is, that all other descriptors, like "Temperature" or "Humidity" are followed by a colon, but not "Cloudiness". I think this should be d

[2020-01-11 14:24] kalee commented on #2806
@claudiux

That is fantastic news and great too know.
In the meantime, if I want to select a different temperature to be displayed, is that an option in the applet.js file?
If not, do you have a a rough idea on when?  Weeks, or Months?  I plan to continue to use the applet, I just do the -25 degree math in my head.

Thank you for that great applet and support!

[2020-01-11 16:35] claudiux commented on #2806
@kalee Can you try this version, please? https://github.com/linuxmint/cinnamon-spices-applets/pull/2755
This is a "work in progress" version. The final version will come ... when it's done, as Debian says. ;)

[2020-01-11 16:38] claudiux commented on #2806
@kalee Post here that the command `sensors -u` returns, and the contents of your `/etc/modules` file, please.

[2020-01-11 17:02] kalee commented on #2806
@claudiux

### output of sensors command
$ sensors -u
k10temp-pci-00db
Adapter: PCI adapter
Tdie:
  temp1_input: 31.250
  temp1_max: 70.000
Tctl:
  temp2_input: 58.250

k10temp-pci-00cb
Adapter: PCI adapter
Tdie:
  temp1_input: 30.750
  temp1_max: 70.000
Tctl:
  temp2_input: 57.750

amdgpu-pci-0900
Adapter: PCI adapter
vddgfx:
  in0_input: 1.106
fan1:
  fan1_input: 809.000
temp1:
  temp1_input: 43

[2020-01-11 18:48] kalee commented on #2806
@claudiux
Thank you for the info on #2755
I needed to install git-extras, then run git pr 2755, after a git clone of the cinnamon-spices-applets repo.  I backed-up my files, and replaced with the WIP files.  I then ran alt-f2 with r to restart cinnamon without losing all of my open windows.

I now get four temps in the pop-up, all of them the higher temps, none of the tdie values.

The cpu is a th

[2020-01-11 19:37] claudiux commented on #2806
@kalee Your `/etc/modules` file is empty. Did you try the command `sudo sensors-detect --auto`? On my computer, it returns:
[code]

To display Tdie values, try to modify the line 38 of applet.js.
From:
[code]
To:
[code]

[2020-01-11 21:25] kalee commented on #2806
@claudiux
The command  sudo sensors-detect --auto does not add anything to /etc/modules on my system.
I did add 'Tdie' and removed 'Tctl' form line 38 of applet.js.  The temp now displays the correct temperatures for me.

This will work great!  I look forward to the update that allows picking the temperature, then I can add the 'Tctl' values back in.

Thank you again for the quick response and ver

[2020-01-12 09:13] smurphos commented on #2542
Could stars be displayed on the Spices website and in the relevant settings module as two figures, one for 'Lifetime' and one for 'Last 12 months'?

It would be nice if stars could be awarded from within Cinnamon as outlined by @claudiux.

[2020-01-12 17:58] Gr3q commented on #2808
Hello,

 I will look into it. In the meantime can you do a screenshot about the problem? as a reference for me.

Thanks

[2020-01-12 19:26] Kabuse commented on #2808
Thank you for the reply, sure, no problem!

![weather_applet_screenshot](https://user-images.githubusercontent.com/13647006/72224349-db9c7400-3579-11ea-8f2a-a4c2ff3d3f38.png)

[2020-01-12 19:46] Kabuse commented on #2808
Btw, what I just noticed. For the wind speed, the German translation for kph (km/h) is also not working. In the settings, I can choose "km/h", but in the applet, it still says "kph" :-)

![Bildschirmfoto vom 2020-01-12 20-40-20](https://user-images.githubusercontent.com/13647006/72224607-831aa600-357c-11ea-81c5-9e0969c19669.png)

[2020-01-12 21:48] #2806 closed

[2020-01-13 02:41] Odyseus commented on #2808
Hello, everybody.

@Gr3q: The problem is that the German localization needs to be updated. It contains the translation for the string `Cloudiness:` but not for the string `Cloudiness` (without colon). The retrieved string in [this call](https://github.com/linuxmint/cinnamon-spices-applets/blob/master/weather%40mockturtl/files/weather%40mockturtl/3.8/applet.js#L537) is `Cloudiness`, which will not

[2020-01-13 18:40] Gr3q commented on #2808
The problem was [here](https://github.com/linuxmint/cinnamon-spices-applets/blob/f95af4e9c0d206370563c7ad30e4f69e0b7ebeac/weather%40mockturtl/src/openWeatherMap.ts#L123), I guess I forgot to add the colon one step before, same with Feels Like with DarkSky.

It will be fixed in the next update soon

[2020-01-13 19:29] #2614 closed

[2020-01-19 14:53] NikoKrause commented on #2542
Maybe rating for a certain Cinnamon version would work?

As mentioned there are spices, which once were popular, but in the meantime they are unmaintained or broken, so becoming less popular.

Lets play around with a little idea.
1. It's May 5th 2020 and Cinnamon 4.6 releases.
2. You go on cinnamon spices website and have a dropdown menu, where you can select you Cinnamon version. There's a new en

[2020-01-19 15:15] icarter09 commented on #2542
@NikoKrause i like the idea of displaying data based upon Cinnamon version.

I think a mixture of several options might be a good solution. Maybe the Spices page should have several columns that each list Spices by a different priority. List the top 10 by "most downloads", "highest star", have a column for the last 3 Cinnamon versions as well. This would provide a user with several points of data

[2020-01-19 21:00] Gr3q opened #2816 "weather@mockturtl automatic location not working at certain locations"
Issue:
Weird payload, here is the sanitized ipapi payload:
[code]

I will make the applet switch to a different provider.

[2020-01-20 23:16] #2808 closed

[2020-01-20 23:16] #2816 closed

[2020-01-22 02:58] cbRoy commented on #2807
Confirmed not working. Patch from 3.8 no longer applies to 4.0

[2020-01-22 03:47] Odyseus commented on #2807
Hello, everybody.

This applet works out of the box as intended for me using [this applet configuration](https://github.com/linuxmint/cinnamon-spices-applets/files/4095166/workspace-grid%40hernejj.json.zip) (the same configuration as reported in the first post of this issue).

The only thing broken in this applet that I could see is the row switching buttons to the left of the applet. It can be fi

[2020-01-22 09:11] Padre2 commented on #2760
Now on Cinnamon 4.4.8.
No response for more than a month.
@claudiux   Do you know the author?

[2020-01-22 12:41] claudiux commented on #2760
@Padre2 The author is @infiniteshroom, who has not had any public activity on Github since December 2018.

[2020-01-22 16:26] xss opened #2822 "rwall@typicalfoobar: Change order parameter in wget link to 'desc', and urlencode search query"
[code]

**Notify author of applet**
@typicalfoobar

**Issue**
Please change the order parameter in the `wget` link (`bin/rwall`, line 116) to `desc` instead of the current `asc`.

Also, the `q` variable should be URL encoded, so once we're satisfied with a (more complicated) search term, we can simply copy-paste a search query from wallhaven.cc into the applet's "Word(s) to use when search for wal

[2020-01-22 20:22] #2760 closed

[2020-01-23 08:11] Padre2 opened #2823 "Web Developer Menu (web-developer-menu@infiniteshroom)"
@claudiux  Many thanks for looking at this.

 * Applet version/Build date:  Updated on 2020-01-23 03:22:21
 * Cinnamon version:  4.4.8
 * Distribution - Arch
 * Graphics hardware AMD/ATI Radeon
 * Snippet or attachment of ~/.cinnamon/glass.log
   fo t=2020-01-23T14:21:17Z Loaded applet web-developer-menu@infiniteshroom in 244 ms
 * Snippet or attachment of ~/.xsession-errors
   Cjs-Message: 14:21:

[2020-01-23 19:20] Bundy01 opened #2824 "The vpnLookOut@claudiux applet uses only the tun0 interface."
[code]

**Notify author of applet**
@claudiux

**Issue**
this applet is great but only handles the tun0 interface. My vpn creates a 'VPN_name-server' interface when I use a protocol other than Open-VPN. I noticed when manually removing the tun0 interface, it worked. But if I change server and want to redo the manipulation, the applet makes X crash.
Maybe the solution would be to automatically remo

[2020-01-23 19:26] claudiux commented on #2824
@Bundy01 OK, I will try to make this applet use other interfaces than tun0. Thanks for reporting this issue.

[2020-01-23 19:35] Bundy01 commented on #2824
The protocol used by the vpn is 'wireguard'.

[2020-01-23 19:54] Mintulix opened #2825 "bing-wallpaper@starcross.dev is loosing wp-name"
@Starcross
Hi, I noticed that the WP-Applet is loosing the mouse-over name of the current picture when rebooting, logging off and in again or just restarting Cinnamon. After loading a new picture its name is loaded normally.

As I did'nt know how to save the name I tried a different solution: get the name again (only the name, not the picture and only if it's different from the default). That happ

[2020-01-23 21:52] claudiux commented on #2824
OK. I will test wireguard, using this doc (in French): https://www.tutos.snatch-crash.fr/wireguard-vpn-rapide-moderne-et-securise/

[2020-01-23 23:28] claudiux commented on #2824
@Bundy01 Please post here, using triple-backquotes, the return of the command `ls /sys/class/net/*`:

1. when all VPN are down.
2. when you are connected to a Wireguard VPN.

[2020-01-23 23:38] Bundy01 commented on #2824
@claudiux

no vpn:
[code]

with vpn:
[code]

Thanks.

[2020-01-24 00:26] claudiux commented on #2824
@Bundy01 Thank you. When you are connected to your wireguard VPN, is your `/tmp/.vpn_iface` file containing `nordvpn-nl629`?

[2020-01-24 01:16] Bundy01 commented on #2824
I don't have a **.vpn_iface** file on /. I use the Linux application of my vpn, maybe that's why?

[2020-01-24 08:48] claudiux commented on #2824
Yes, but these values are used to automatically (re)connect to the latest VPN.

Please try to replace, in `4.2/applet.js` the lines 360-366

https://github.com/claudiux/cinnamon-spices-applets/blob/b25905dddff6f6747918f117af4121c431058560/vpnLookOut%40claudiux/files/vpnLookOut%40claudiux/4.2/applet.js#L363-L366

by these two lines:
[code]

Do the same near line 1326. Reload this applet and test it

[2020-01-24 09:43] Starcross commented on #2825
Yes pull requests welcome. I may rework this to save all the data pulled in the json locally, but your fix sounds like a good way around this for now.

[2020-01-24 17:31] FuckYouMicrosoftGitHub opened #2826 "Add french translation for mailnagapplet@ozderya.net applet"
[code]

Hello,

Please find below a fr.po (translated by hand with gedit, adapted from the spanish version) for this applet.
Sorry, the repository is big so sending a proper pull request was not convenient.

[code]

[2020-01-24 18:04] claudiux commented on #2826
I take care of it.

[2020-01-24 19:55] #2826 closed

[2020-01-25 00:19] matheussouza9 opened #2830 "gpaste-reloaded@feuerfuchs.eu crashes when copy an image"
* Applet version 2.6 / Build date 2019-10-25 02:22:15
 * Gpaste program version 3.28.0
 * Cinnamon version 4.4.8
 * Distribution - Linux Mint 19.3
 * Nvidia GTX1060 / Driver Version 435.21-0ubuntu0.18.04.2 (I don't know if it also happens with the intel integrated graphics)
 * ~/.xsession-errors below
[code]

@Feuerfuchs

**Issue**
When I try to copy an image, the clipboard registry is repeatedly

[2020-01-25 02:36] Bundy01 commented on #2824
I applied the changes but the applet doesn't recognize the vpn connection (the icon remains grey). I post the changes in case I made a mistake:
[code]

[code]

[2020-01-25 12:15] Padre2 commented on #2823
The toggle button for mariadb will switch position, when command to start or stop mdb is run from the terminal or an alias.
Have tried adding action  for nano and systemctl to polkit for pkexec, but no success.

[2020-01-25 17:19] claudiux commented on #2823
@Padre2 Forking it for Arch is useless. I will do a PR to automatically adapt these commands and services to the detected distro. Please wait a few days, I'm too busy now.

[2020-01-25 19:11] Gr3q opened #2831 "weather@mockturtl applet is not unloading/reloading properly"
[code]
**Issue**
On Moving/Updating/Removing/Adding **any** applet on the Panel where the Weather applet is, there is a chance of the weather applet's main loop remain, this can cause the applet updating several times for van update interval, causing API call limits to saturate.

**Steps to reproduce**
1. Move/Update/Remove/Add any applet on the panel where the Weather applet is.
2. Wait and check

[2020-01-25 19:28] Gr3q commented on #2831
The problem is [here](https://github.com/linuxmint/cinnamon-spices-applets/blob/7d4f73ae3e55de257caa0c702c0d339993a9f089/weather%40mockturtl/src/applet.ts#L452). Multiple loops can remain and work in parallel.

On my branch I switched to an async version of this function but it still relies on the same function so it behaves the same.

Any ideas what I can do do prevent this happening?

Some more

[2020-01-25 19:30] Gr3q commented on #2831
@Odyseus do you know that is there a way to know when the applet is unloaded? Would be much better than what I came up with for this issue.

[2020-01-25 20:06] Odyseus commented on #2831
Hello, @Gr3q.

There is a new function called [on_applet_reloaded](https://github.com/linuxmint/cinnamon/blob/master/js/ui/applet.js#L407) added around Cinnamon 4.0.x in [6a9eaa6](https://github.com/linuxmint/cinnamon/commit/6a9eaa61fd8162c7debe1fdda33f03dbfe238e83). But I don't know if it's triggered when *moving/updating/removing/adding any applet*.

To prevent unnecessary API quota consumption

[2020-01-25 20:35] Gr3q commented on #2831
I see ```on_applet_removed_from_panel```, I checked its in at least from 3.0 and its called when the applet is moved or other applets moved next to it.

I think I will use that, and the uuid4 method as well for good measure. I don't want this bug to creep back in any form.

[2020-01-26 05:54] Padre2 commented on #2823
@claudiux   @claudiux  Regarding forking, understood, it had been a long day and I was not thinking clearly. It would be great if you can adapt it to detect the distro. No rush!
Most of my web development is on the WordPress platform, so I included it for launching the web directory, but presumably you will want to remove `wordpress` from line 20, for generally use.
This applet is very useful with

[2020-01-26 16:48] #1718 closed

[2020-01-26 16:48] #2295 closed

[2020-01-26 20:13] #2825 closed

[2020-01-26 20:19] jorgenqv opened #2835 "weather@mockturtl minor language things"
[code]
@Gr3q

**Issue**
The text "Feels Like" is not translated to your chosen language in other languages than English.
The Configuration page also need some work regarding localization?

**Steps to reproduce**
Click on applet logged in with a language not English with DarkSky as provider and see Feels Like.

**Expected behaviour**
The text should be translated to your chosen language.

**Other i

[2020-01-26 21:15] Gr3q commented on #2835
Yes, it is my mistake changing the string a couple of times.

I moved the colon out from the string, it shouldn't really be there and I went through all the translation files this time to make sure all of them are correct.

It will be in the next update.

[2020-01-27 12:58] Padre2 commented on #2701
@silentage.com
Now on cinnamon version 4.8 and have updated the metadata.json for each version, but still get warnings and crashes, if loaded, and the .Xsessionerrors file is flooded with pages  of warnings:
`Cinnamon warning: Log level 128: posix_spawn avoided (fd close requested)`

[2020-01-28 15:24] CMaclellan opened #2837 "weather@mockturtl Weather Status for Today and Tomorrow showing up as black"
[code]

**Notify author of applet**
@mockturtl

**Issue**
The font colour for the Weather Status, ie. Snow -4/-1 C, is black while the rest of the font colours are white or blue. The black font colour is difficult to read on the dark background

**Steps to reproduce**
Unknown.

**Expected behaviour**
Weather Status font colour should match the rest of the font colours, ie. White.

**Other informat

[2020-01-28 17:06] Gr3q commented on #2837
Hello,

Do you have a screenshot of the applet?
Also, that theme are you using?

[2020-01-28 18:14] CMaclellan commented on #2837
![weather](https://user-images.githubusercontent.com/47331713/73292419-6adf9380-41d8-11ea-8dd6-44ebc794e9d1.png)

[2020-01-28 18:18] CMaclellan commented on #2837
Changing the Desktop theme seems from macOS-Dark seems to resolve the issue.

[2020-01-29 10:13] Gr3q commented on #2837
Can you tell me where did you get the theme?

I wont be able to fix it otherwise

Thanks

[2020-01-29 12:53] CMaclellan commented on #2837
I believe this is were it came from
https://github.com/B00merang-Project/macOS-Dark

[2020-01-29 15:00] ArnaudDovi commented on #2498
That's exactly what I noted in a test to check if the applets is worth a use.

Anyway applets is useless and does not provide anything interesting, probably why you didn't get any reply in here, author probably realized a code requires lines to be useful.

[2020-01-29 18:31] Gr3q commented on #2498
I am not part of the Linux Mint team nor I am the owner of the applet, I'm just a person who works on applets in his free time.

@ArnaudDovi  Please keep the criticism constructive. You could've complained about the lack of prompt response instead.

As a workarund, you can also create groups inside the ssh-config and it will be shown grouped in the applet, like this:
[code]

Nevertheless, I worked

[2020-01-29 18:40] Gr3q commented on #2837
Thank you

[2020-01-29 19:05] Gr3q commented on #2837
I can't reproduce it. Are you running the latest version of the theme?

[2020-01-30 01:05] CMaclellan commented on #2837
You are correct. I must have been running an older version of that theme that was causing the issue.
thanks

[2020-01-30 09:27] Gr3q commented on #2837
@CMaclellan Could you close the issue when you have some time?

Thanks

[2020-01-30 10:35] Gr3q opened #2838 "gnote@brett-smith Add Notebook support (group notes by notebooks)"
The applet could show notes grouped by their notebooks if they are in a notebook.

Also (I don't know if it can be done) the user could set which groups are expanded by default.

**Notify author of applet**
@brett-smith

[2020-01-30 11:54] #2837 closed

[2020-01-30 17:06] ak1dd opened #2839 "[CinnVIIStarkMenu@NikoKrause]: Option to have searchbar on top"
It would be much better for those of us that have the dock on the top of the screen to have an option to have the search field also on the top.   I'd also love it if the field would resize the entire length of the open menu (I prefer to always see All Programs and there is a lot of whitespace)

[2020-01-30 17:08] ak1dd opened #2840 "[CinnVIIStarkMenu@NikoKrause]: live search results"
Arc Menu has come a long way.  One of the very best features is the option to show "live search" results from the store and filesystem as you type.    Would really love this in StarkMenu

[2020-01-31 06:10] rik-shaw opened #2841 "CinnVIIStarkMenu@NikoKrause: auto increase height in "All Programs""
[code]
**Notify author of applet**
@NikoKrause

**Issue**
Thank you for the fix from issue #1911 that shortens the height of the menu if not needed. However, when switching to "All Programs" view, the menu is often too short thus introducing a scrollbar for categories, which I think is not optimal. My suggestion would be to auto-increase the height to what is needed. The total height would have to

[2020-02-02 17:40] #2305 closed

[2020-02-02 17:40] #2831 closed

[2020-02-02 17:40] #2835 closed

[2020-02-02 23:10] dave841 opened #2843 "radio icon"
radio icon

[code]

[2020-02-03 12:10] claudiux commented on #2843
@dave841 (Please use the "Preview" tab and triple-quotes to format your message.)

Modify or change `~/.local/share/cinnamon/applets/radio@driglu4it/icons/radio.svg`. This must be a .svg file. You can use Inkscape to create of modify a svg-format icon.

[2020-02-03 12:25] dave841 commented on #2843
ok thank you

[2020-02-03 21:03] Kabuse opened #2844 "Weather (weather@mockturtl): German translation got raped after trying to fix it"
Referring to my previous issue of German translation of "Cloudiness" and missing ":".

 "Cloudiness" still not translated and missing ":" is now "::"

Furthermore, most of the German translations are truncated, please see the  picture:

Heute ->  ute, "Hu" missing
Morgen -> rgen "Mo" missing
Sonnenaufgang -> nnenaufgang "So" missing
Sonnenuntergang -> nnenuntergang "So" missing
Regen (in the statu

[2020-02-03 21:17] Gr3q commented on #2844
You are right, it is much worse.

The double ```::``` got fixed already (https://github.com/linuxmint/cinnamon-spices-applets/pull/2842), there should be a new update showing up.

About the other issue, I see even the km/h and the hPa is cut off, I don't know what causes it, but I'll look into it. I can't reproduce it at the moment.

In the meantime, update the applet and restart cinnamon and see